<% include header.ejs %>
<body>

<div class="container">
    <% include body.ejs %>
    <div class="row content">
        <% include navbarleft.ejs %>
        <div class="col-sm-9">

            <h1>Block Page</h1>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>lastname</th>
                    <th>flatNum</th>
                    <th>koinratio</th>
                    <th>liftratio</th>
                    <th>flatxil</th>
                </tr>
                </thead>
                <tbody>
                <%var i=0%>
                <% flat.forEach(function(flat){%>
                <tr>
                    <td><%=flat.lastname%></td>
                    <td><%=flat.flatNum%></td>
                    <td><%=flat.koinratio%></td>
                    <td><%=flat.liftratio%> </td>
                    <td><%=flat.flatxil%> </td>
                </tr>
                <%i+=1%>
                <%})%>
                </tbody>
            </table>
        </div>
    </div>
</div>

<% include footer.ejs %>
</body>

</html>