<% include templates/header.ejs %>
<body>

<div class="container" style="background-color: #eee">
    <% include templates/body.ejs %>
    <div class="row content">
        <% include templates/navbar.ejs %>
        <div class="col-sm-9">
            <h3 align="right">
                <a data-toggle="modal" href="#helpModal">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </a>
            </h3>
            <!-- Modal -->
            <div class="modal fade" id="helpModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #5cb85c;color:white !important;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center" >Καταχώρηση στοιχείων της πολυκατοικίας</h4>
                        </div>
                        <div class="modal-body">
                            <ul>
                                <li>Απαραίτητα πεδία που πρέπει να συμπληρωθούν είναι η Διεύθυνση ο μέγιστος αριθμός διαμερισμάτων
                                    και το είδος θέρμανσης της πολυκατοικίας.</li>
                                <li>Τα υπόλοιπα πεδία είναι προαιρετικά.</li>
                                <li>Η καταχώρηση των πεδίων ολοκληρώνεται πατώντας στο κουμπί καταχώρηση.</li>
                                <li>Μετά την καταχώρηση μπορούμε να προσθέσουμε ή να αλλάξουμε στοιχεία οποιαδήποτε στιγμή και η διαδικασία
                                    διόρθωσης ολοκληρώνεται πατώντας το κουμπί Διόρθωση Στοιχείων.</li>
                            </ul>
                        </div>
                        <div class="modal-footer" style="background-color: #5cb85c;color:white !important;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div><!-- End of modal -->

            <h3 align="center">Στοιχεία Πολυκατοικίας</h3>
            <% if(errors != undefined){ %>
            <ul class="list-group">
                <% errors.forEach(function(error){ %>
                <li class="list-group-item list-group-item-danger"><%= error.msg %></li>
                <% }) %>
            </ul>
            <%}%>
            <form method="post" action="" id="blockPost">
                <div class="form-group">
                    <label for="name">Διεύθυνση:</label>
                    <input type="text" class="form-control" name="address" value="<%= typeof block!=='undefined'?block.address:null %>">
                </div>
                <div class="form-group">
                    <label for="name">Περιοχή:</label>
                    <input type="text" class="form-control" name="location" value="<%= typeof block!=='undefined'?block.location:null %>">
                </div>
                <div class="form-group">
                    <label for="name">Τ.Κ:</label>
                    <input type="text" class="form-control" name="postal" value="<%= typeof block!=='undefined'?block.postal:null %>">
                </div>
                <div class="form-group">
                    <label for="name">Όνομα Διαχειριστή:</label>
                    <input type="text" class="form-control" name="nameRes" value="<%= typeof block!=='undefined'?block.nameRes:null %>">
                </div>
                <div class="form-group">
                    <label for="name">Τηλέφωνο:</label>
                    <input type="text" class="form-control" name="phone" value="<%= typeof block!=='undefined'?block.phone:null %>">
                </div>
                <div class="form-group">
                    <label for="name">Κινητό:</label>
                    <input type="text" class="form-control" name="mobile" value="<%= typeof block!=='undefined'?block.mobile:null %>">
                </div>
                <div class="form-group">
                    <label for="name">Σύνολο Διαμερισμάτων:</label>
                    <input type="text" class="form-control" name="totalFlats" value="<%= typeof block!=='undefined'?block.totalFlats:null %>">
                </div>
                <div class="form-group">
                    <label for="sel1">Είδος Θέρμανσης:</label>
                    <select id='heatType' onchange="heatFixedFunction()" class="form-control" name="heatType">
                        <option value="">Επιλογή τύπου θέρμανσης</option>
                        <option value="Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά">Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά</option>
                        <option value="Αυτόνομη Θέρμανση με ωρομέτρηση και χιλιοστά">Αυτόνομη Θέρμανση με ωρομέτρηση και χιλιοστά</option>
                        <option value="Αυτόνομη Θέρμανση με ωρομέτρηση και συντελεστές ei fi">Αυτόνομη Θέρμανση με ωρομέτρηση και συντελεστές ei fi</option>
                        <option value="Αυτόνομη Θέρμανση με θερμιδομέτρηση και συντελεστές ei fi">Αυτόνομη Θέρμανση με θερμιδομέτρηση και συντελεστές ei fi</option>
                    </select>
                </div>
                <div id="heatFixedId" class="form-group">
                    <label for="name">Πάγιο Θέρμανσης %:</label>
                    <input type="text" class="form-control" name="heatFixed" value="<%= typeof block!=='undefined'?block.heatFixed:0 %>">
                </div>
                <div id="reserve" class="form-group">
                    <label for="reserve">Αποθεματικό:</label>
                    <input type="text" class="form-control" name="reserve" value="<%= typeof block!=='undefined'?block.reserve:0 %>">
                </div>

                <button id="btnSubmit" type="submit" class="btn btn-success">Καταχώρηση</button>
            </form>
            <br>
        </div>
    </div>
</div>

<script>
<% if(typeof block!=='undefined') {%>//Εαν έχει καταχωρηθεί πολυκατοικία
    document.getElementById('blockPost').action="/users/blockUpdate";
    document.getElementById("heatType").value= '<%=block.heatType%>';
    document.getElementById('btnSubmit').innerHTML='Διόρθωση Στοιχείων';
    var typeOfHeat=document.getElementById("heatType").value;
    if(typeOfHeat==='Αυτόνομη Θέρμανση με ωρομέτρηση και συντελεστές ei fi' ||
       typeOfHeat==='Αυτόνομη Θέρμανση με θερμιδομέτρηση και συντελεστές ei fi' ||
       typeOfHeat==='Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά'){
         document.getElementById('heatFixedId').style.display='none';
    }else{
        document.getElementById('heatFixedId').style.display='block';
    }
<%} else if(typeof block==='undefined'){%>
    document.getElementById('blockPost').action="/users/block";
<%}%>

// Πότε θα φένεται η εισαγωγή παγιου θέρμανσης και πότε όχι -->
    function heatFixedFunction() {
        var optionText=document.getElementById('heatType').value;
        if(optionText==='Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά'||
           optionText==='Αυτόνομη Θέρμανση με ωρομέτρηση και συντελεστές ei fi'||
           optionText==='Αυτόνομη Θέρμανση με θερμιδομέτρηση και συντελεστές ei fi'){
            document.getElementById('heatFixedId').style.display='none';
        }else{
            document.getElementById('heatFixedId').style.display='block';
        }
    }
</script>

<% include templates/footer.ejs %>
</body>

</html>