<% include templates/header.ejs %>
<body>

<div class="container">
    <% include templates/body.ejs %>
    <div class="row content">
        <% include templates/navbar.ejs %>
        <div class="col-sm-9">
            <h3 align="right">
                <a data-toggle="modal" href="#helpModal">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </a>
            </h3>
            <!-- Modal -->
            <div class="modal fade" id="helpModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <p>Some text in the modal.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div><!-- End of modal -->

            <h4 align="center">Στοιχεία Πολυκατοικίας</h4>
            <form method="post" action="" id="blockPost">
                <div class="form-group">
                    <label for="name">Διεύθυνση:</label>
                    <input type="text" class="form-control" name="address" value="<%= block.address %>">
                </div>
                <div class="form-group">
                    <label for="name">Περιοχή:</label>
                    <input type="text" class="form-control" name="location" value="<%= block.location %>">
                </div>
                <div class="form-group">
                    <label for="name">Τ.Κ:</label>
                    <input type="text" class="form-control" name="postal" value="<%= block.postal %>">
                </div>
                <div class="form-group">
                    <label for="name">Όνομα Διαχειριστή:</label>
                    <input type="text" class="form-control" name="nameRes" value="<%= block.nameRes %>">
                </div>
                <div class="form-group">
                    <label for="name">Τηλέφωνο:</label>
                    <input type="text" class="form-control" name="phone" value="<%= block.phone %>">
                </div>
                <div class="form-group">
                    <label for="name">Κινητό:</label>
                    <input type="text" class="form-control" name="mobile" value="<%= block.mobile %>">
                </div>
                <div class="form-group">
                    <label for="name">Σύνολο Διαμερισμάτων:</label>
                    <input type="text" class="form-control" name="totalFlats" value="<%= block.totalFlats %>">
                </div>
                <div class="form-group">
                    <label for="sel1">Είδος Θέρμανσης:</label>
                    <select id='heatType' onchange="heatFixedFunction()" class="form-control" name="heatType">
                        <option value="Κεντρική θέρμανση">Κεντρική θέρμανση</option>
                        <option value="Αυτόνομη Θέρμανση με ωρομέτρηση και χιλιοστά θέρμανσης">Αυτόνομη Θέρμανση με ωρομέτρηση και χιλιοστά θέρμανσης</option>
                        <option value="Αυτόνομη Θέρμανση με ωρομέτρηση και θερμικές απώλειες">Αυτόνομη Θέρμανση με ωρομέτρηση και θερμικές απώλειες</option>
                        <option value="Αυτόνομη Θέρμανση με θερμιδομέτρηση και θερμικές απώλειες">Αυτόνομη Θέρμανση με θερμιδομέτρηση και θερμικές απώλειες</option>
                    </select>
                </div>
                <div id="heatFixedId" class="form-group">
                    <label for="name">Πάγιο Θέρμανσης %:</label>
                    <input type="text" class="form-control" name="heatFixed" value="<%= block.heatFixed %>">
                </div>
                <div id="reserve" class="form-group">
                    <label for="reserve">Αποθεματικό:</label>
                    <input type="text" class="form-control" name="reserve" value="<%= block.reserve %>">
                </div>

                <button id="btnSubmit" type="submit" class="btn btn-primary">Καταχώρηση</button>
            </form>
            <br>
            <% if(errors != undefined){ %>
            <ul class="list-group">
                <% errors.forEach(function(error){ %>
                <li class="list-group-item list-group-item-danger"><%= error.msg %></li>
                <% }) %>
            </ul>
            <%}%>
        </div>
    </div>
</div>

<script>
<% if(flag) {%>
    document.getElementById('blockPost').action="/users/blockUpdate";
    document.getElementById("heatType").value= '<%=block.heatType%>';
    document.getElementById('btnSubmit').innerHTML='Διόρθωση Στοιχείων';
    var typeOfHeat=document.getElementById("heatType").value;
    if(typeOfHeat==='Αυτόνομη Θέρμανση με ωρομέτρηση και θερμικές απώλειες' ||
       typeOfHeat==='Αυτόνομη Θέρμανση με θερμιδομέτρηση και θερμικές απώλειες' ||
       typeOfHeat==='Κεντρική θέρμανση'){
         document.getElementById('heatFixedId').style.display='none';
    }else{
        document.getElementById('heatFixedId').style.display='block';
    }
<%} else if(!flag){%>
    document.getElementById('blockPost').action="/users/block";
<%}%>

// Πότε θα φένεται η εισαγωγή παγιου θέρμανσης και πότε όχι -->
    function heatFixedFunction() {
        var optionText=document.getElementById('heatType').value;
        if(optionText==='Κεντρική θέρμανση'||
           optionText==='Αυτόνομη Θέρμανση με ωρομέτρηση και θερμικές απώλειες'||
           optionText==='Αυτόνομη Θέρμανση με θερμιδομέτρηση και θερμικές απώλειες'){
            document.getElementById('heatFixedId').style.display='none';
        }else{
            document.getElementById('heatFixedId').style.display='block';
        }
    }
</script>

<% include templates/footer.ejs %>
</body>

</html>