<% include templates/header.ejs %>
<body>

<div class="container">
    <% include templates/body.ejs %>
    <div class="row content">
        <% include templates/navbar.ejs %>
        <div class="col-sm-9">
            <h3 align="right">
                <a data-toggle="modal" href="#helpModal">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </a>
            </h3>
            <!-- Modal -->
            <div class="modal fade" id="helpModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #5cb85c;color:white !important;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 id='modalLabel' class="modal-title text-center">Καταχώρηση Διαμερισμάτων</h4>
                        </div>
                        <div id="modalBody" class="modal-body">
                            <ul>
                                <li>Σε αυτό το στάδιο καταχωρούμε ένα ένα τα διαμερίσματα της πολυκατοικίας. Σημαντικό είναι να
                                    έχουμε ορίσει σωστά τον συνολικό αριθμό  των Διαμερισμάτων από το προηγούμενο βήμα (1.Καταχώρηση πολυκατοκίας).</li>
                                <li>Το πρόγραμμα μας ενημερώνει με τον αριθμό διαμερισμάτων που έχουμε καταχωρήσει. Επίσης κάθε φορά που καταχωρούμε
                                    ένα διαμέρισμα εμφανίζεται στο αριστερό μενού ο αριθμός και το όνομα ιδιοκτήτη του διαμερίσματος.</li>
                                <li>Με την συμπλήρωση όλων των διαμερισμάτων το πρόγραμμα μας ενημερώνει ότι καταχωρήθηκαν όλα τα διαμερίσματα και πλέον
                                    δεν μπορούμε να καταχωρήσουμε άλλα.</li>
                                <li>Απαραίτητα πρέπει να είναι συμπληρωμένα τα πεδία Αριθμός Διαμερίσματος, Αναλογία Δαπανών Κοινοχρήστων, Αναλογία Δαπανών Ανελκυστήρα
                                    και Χιλιοστά Διαμερίσματος για θέρμανση.</li>
                                <li>Το πεδίο υπόλοιπο διαμερίσματος αφορά τα χρήματα που χρωστάει το συγκεκριμένο διαμέρισμα σε ευρώ. Αν τη στιγμή λοιπόν που το
                                    καταχωρούμε έχει υπόλοιπο τότε το συμπληρώνουμε.</li>
                            </ul>
                        </div>
                        <div class="modal-footer" style="background-color: #5cb85c;color:white !important;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div><!--End of modal -->

            <h4 id="h4" align="center">Καταχώρηση Διαμερισμάτων</h4>
            <h5 id="h5" align="center">Τύπος Θέρμανσης: <%=typeof block!=='undefined'?block.heatType:null%></h5>
            <h5 id="check"></h5>
            <% if(errors != undefined){ %>
            <ul class="list-group">
                <% errors.forEach(function(error){ %>
                <li class="list-group-item list-group-item-danger"><%= error.msg %></li>
                <% }) %>
            </ul>
            <%}%>
            <br>
            <form method="post" action="" id="flatPost">
                <div class="form-group">
                    <label for="name">Όνομα:</label>
                    <input type="text" class="form-control" name="firstname" value="<%= typeof flat!=='undefined'?flat.firstname:null%>">
                </div>
                <div class="form-group">
                    <label for="name">Επίθετο:</label>
                    <input type="text" class="form-control" name="lastname" value="<%= typeof flat!=='undefined'?flat.lastname:null%>">
                </div>
                <div class="form-group">
                    <label for="name">Τηλέφωνο:</label>
                    <input type="text" class="form-control" name="phone" value="<%= typeof flat!=='undefined'?flat.phone:null%>">
                </div>
                <div class="form-group">
                    <label for="name">Κινητό:</label>
                    <input type="text" class="form-control" name="mobile" value="<%= typeof flat!=='undefined'?flat.mobile:null%>">
                </div>
                <div class="form-group">
                    <label for="name">Email:</label>
                    <input type="text" class="form-control" name="email" value="<%= typeof flat!=='undefined'?flat.email:null%>">
                </div>
                <div class="form-group">
                    <label for="name">Αριθμός Διαμερίσματος:</label>
                    <input type="text" class="form-control" name="flatNum" value="<%= typeof flat!=='undefined'?flat.flatNum:null%>">
                </div>
                <div class="form-group">
                    <label for="name">Αναλογία Δαπανών Κοινοχρήστων:</label>
                    <input type="text" class="form-control" name="koinratio" value="<%= typeof flat!=='undefined'?flat.koinratio:null%>">
                </div>
                <div class="form-group">
                    <label for="name">Αναλογία Δαπανών Ανελκυστήρα:</label>
                    <input type="text" class="form-control" name="liftratio" value="<%= typeof flat!=='undefined'?flat.liftratio:null%>">
                </div>
                <div id="flatxilId" class="form-group">
                    <label for="name">Χιλιοστά Διαμερίσματος για θέρμανση:</label>
                    <input type="text" class="form-control" name="flatxil" value="<%= typeof flat!=='undefined'?flat.flatxil:null%>">
                </div>
                <div id="eiId" class="form-group">
                    <label for="name">Συντελεστής ei:</label>
                    <input type="text" class="form-control" name="ei" value="<%= typeof flat!=='undefined'?flat.ei:null%>">
                </div>
                <div id="fiId" class="form-group">
                    <label for="name">Συντελεστής fi:</label>
                    <input type="text" class="form-control" name="fi" value="<%= typeof flat!=='undefined'?flat.fi:null%>">
                </div>
                <div class="form-group">
                    <label for="name">Υπόλοιπο Διαμερίσματος σε Ευρώ:</label>
                    <input type="text" class="form-control" name="balance" value="<%= typeof flat!=='undefined'?flat.balance:null%>">
                </div>
                <div class="form-group">
                    <label for="name">Ιδιοκτήτης:</label>
                    <label class="radio-inline"><input id="ownerYes" type="radio" name="owner" value="true">Ναι</label>
                    <label class="radio-inline"><input id="ownerNo" type="radio" name="owner" value="false">Όχι</label>
                </div>
                <div class="form-group">
                    <label for="name">Κλειστό Διαμέρισμα: </label>
                    <label class="checkbox-inline"><input id="closedFlat" name="closedFlat" type="checkbox" value="true">Ναι</label>
                </div>
                <div class="form-group">
                    <label for="name">Αποσύνδεση Διαμερίσματος από την Κεντρική Θέρμανση: </label>
                    <label class="checkbox-inline"><input id="disconnectFlat" name="disconnectFlat" type="checkbox" value="true">Ναι</label>
                </div>

                <button id="btnSubmit" type="submit" class="btn btn-primary">Καταχώρηση</button>
            </form>
        </div>
    </div>
</div>

<script>
<%if(typeof block!=='undefined'){%>//Εάν έχουμε καταχωρήσει πολυκατοικία
//Έλεγχος πόσων διαμερισμάτων από τα συνολικά έχουν καταχωρηθεί -->
    <%if(block.totalFlats && count!==null){%>
        document.getElementById("check").className = "list-group-item list-group-item-info";
        document.getElementById("check").innerHTML=' <%= count %> από σύνολο <%= block.totalFlats%> Διαμερίσματων έχουν Καταχωρηθεί';
    <%}%>
// Εαν έχουν συμπληρωθεί όλα τα διαμερίσματα πλέον δεν μπορούν να καταχωρηθούν άλλα οπότε και δεν θα εμφανίζονται πεδία για καταχώρηση -->
//Παίζει ρόλο μόνο στην σελίδα /flat  για αυτό και στην διόρθωση /flat/:flatId το βάζουμε null -->
    <%if(count===block.totalFlats){%>
        document.getElementById('flatPost').style.display='none';
        document.getElementById("check").className = "list-group-item list-group-item-danger";
    <%}%>

//Εαν έχουμε διαμερίσματα η φόρμα αλάζει σε φόρμα διόρθωσης -->
    <%if(typeof flat!=='undefined'){%>
        document.getElementById('h4').innerHTML='Διαμέρισμα <%=flat.flatNum%>';
        document.getElementById('flatPost').action="/users/flat/<%=flat._id%>";
        document.getElementById('btnSubmit').innerHTML='Διόρθωση';
        document.getElementById('check').style.display='none';
        document.getElementById('h5').style.display='none';
        <%if(flat.owner){%>
            document.getElementById("ownerYes").checked = true;
        <%}else {%>
            document.getElementById("ownerNo").checked = true;
        <%}%>
    <%}else {%>
        document.getElementById('flatPost').action="/users/flat";
    <%}%>

//Εμφανιση η απόκρυψη πλαισίων εισαγωγής ανάλογα με το τύπο θέρμανσης
    <%if(block.heatType==='Αυτόνομη Θέρμανση με ωρομέτρηση και συντελεστές ei fi' ||
        block.heatType==='Αυτόνομη Θέρμανση με θερμιδομέτρηση και συντελεστές ei fi'){%>
        document.getElementById("flatxilId").style.display='none';
        document.getElementById("eiId").style.display='block';
        document.getElementById("fiId").style.display='block';
    <%}else{%>
        document.getElementById("flatxilId").style.display='block';
        document.getElementById("eiId").style.display='none';
        document.getElementById("fiId").style.display='none';
    <%}%>

<%}else {%>//Εαν δεν έχει καταχωρηθεί πολυκατοικία
    document.getElementById("check").className = "list-group-item list-group-item-danger";
    document.getElementById("check").innerHTML='Πρέπει πρώτα να έχει καταχωρηθεί πολυκατοικία ' + '<a href=\'/users/block\'>Βήμα 1<\/a>';//εδω να μπει Link
    document.getElementById('flatPost').style.display='none';
<%}%>
</script>

<% include templates/footer.ejs %>
</body>

</html>