<% include templates/header.ejs %>
<body>

<div class="container">
    <% include templates/body.ejs %>
    <div class="row content">
        <% include templates/navbar.ejs %>
        <div class="col-sm-9">
            <h3 align="right">
                <a data-toggle="modal" href="#helpModal">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </a>
            </h3>
            <!-- Modal -->
            <div class="modal fade" id="helpModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #5cb85c;color:white !important;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center">Καταχώρηση Εξόδων Μήνα - Έτους</h4>
                        </div>
                        <div class="modal-body">
                            <ul>
                                <li>Αφού έχουμε καταχωρήσει την πολυκατοικία και τα διαμερίσματα της, ακολουθεί η καταχώρηση
                                των εξόδων της πολυκατοικίας μια διαδικασία που επαναλλαμβάνεται κάθε μήνα.</li>
                                <li>Eπιλέγουμε έτος και μήνα και εν συνεχεία επιλέγουμε τα έξοδα του μήνα από την λίστα
                                επιλογών</li>
                                <li>Ανάλογα με τον τύπο θέρμανσης που έχουμε επιλέξει εμφανίζεται ή όχι ο πίνακας με τις μονάδες
                                θέρμανσης κάθε διαμερίσματος. Εμφανίζεται σε αυτόνομους τύπους θέρμανσης. Οι μονάδες θέρμανσης
                                κάθε διαμερίσματος προκύπτουν αφαιρώντας από την τωρινή μέτρηση την προηγούμενη. Στα πεδία κάθε
                                διαμερίσματος συμπληρώνουμε αυτή τη διαφορά.</li>
                                <li>Όταν καταχωρούμε ένα έξοδο αυτό εμφανίζεται στο ημερολόγιο θέτοντας τον αντιστοιχο μήνα με πράσινο χρώμα</li>
                            </ul>
                        </div>
                        <div class="modal-footer" style="background-color: #5cb85c;color:white !important;">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <h4 id="textId" align="center">Έξοδα Μήνα</h4>
            <% if(errorMessage){%>
            <script>
                alert('<%= errorMessage %>');
            </script>
            <br>
            <%}%>
            <form class="form-horizontal" method="post" action="" id="monthexpensesPost" onsubmit="calc()">
                <div id="year" class="form-group">
                    <label class="control-label col-sm-2" for="year">Έτος:</label>
                    <div class="col-sm-7">
                    <select id="selectYear" class="form-control" name="year">
                        <option>2017</option>
                        <option>2018</option>
                        <option>2019</option>
                        <option>2020</option>
                    </select>
                     </div>
                </div>
                <div id="month" class="form-group">
                    <label class="control-label col-sm-2" for="month">Μήνας:</label>
                    <div class="col-sm-7">
                    <select id="selectMonth" class="form-control" name="month">
                        <option>Ιανουάριος</option>
                        <option>Φεβρουάριος</option>
                        <option>Μάρτιος</option>
                        <option>Απρίλιος</option>
                        <option>Μάιος</option>
                        <option>Ιούνιος</option>
                        <option>Ιούλιος</option>
                        <option>Αύγουστος</option>
                        <option>Σεπτέμβριος</option>
                        <option>Οκτώβριος</option>
                        <option>Νοέμβριος</option>
                        <option>Δεκέμβριος</option>
                    </select>
                        </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="month">Έξοδα:</label>
                    <div class="col-sm-7">
                    <select id="selectExpenses"  onchange="expensesFunction()" class="form-control" name="expenses">
                        <option id="selectText">Επιλέξτε τα έξοδα του μήνα..</option>
                        <option value="salary">Βοηθός Διαχειριστή</option>
                        <option value="ika">Εργοδοτική Εισ. ΙΚΑ ΤΕΑΜ</option>
                        <option value="water">ΕΥΔΑΠ</option>
                        <option value="energy">ΔΕΗ</option>
                        <option value="cleaning">Καθαριότητα</option>
                        <option value="light">Λαμπτήρες</option>
                        <option value="drains">Αποχέτευση</option>
                        <option value="disinsectisation">Απεντόμωση</option>
                        <option value="garden">Συντήρηση Κήπου</option>
                        <option value="liftUpKeep">Ασανσέρ Συντήρηση</option>
                        <option value="liftRepair">Ασανσέρ Ανταλ. Επισκευή</option>
                        <option value="heat">Πετρέλαιο/Αέριο</option>
                        <option value="heatUpKeep">Συντήρηση Καυστήρα/Λέβητα</option>
                        <option value="heatRepair">Επισκευή Καυστήρα/Λέβητα</option>
                        <option value="reserve">Αποθεματικό</option>
                        <option value="shared">Αμοιβή εκδ. Κοινοχρήστων</option>
                        <option value="otherExpenses">Λοιπά έξοδα</option>
                    </select>
                        </div>
                </div>

                <%if(typeof expenses!=='undefined'){%>
                    <input class=form-control" type="hidden" name="year" value="<%=expenses.year%>">
                    <input class=form-control" type="hidden" name="month" value="<%=expenses.month%>">
                <%}%>

                <div id="salary" class="form-group">
                    <label class="control-label col-sm-4" for="salary">Βοηθός Διαχειριστή:</label>
                    <div class="col-sm-5">
                    <input type="text" onChange="this.value=this.value.replace(/,/g, '.');" class="form-control" name="salary" value="<%=typeof expenses!=='undefined'?expenses.salary:null%>">
                    <button onclick="delFunction('salary')" type="button" class="btn-md" >delete</button>
                    </div>
                </div>
                <div id="ika" class="form-group">
                    <label class="control-label col-sm-4" for="ika">Εργοδοτική Εισ. ΙΚΑ ΤΕΑΜ:</label>
                    <div class="col-sm-5">
                    <input type="text" onChange="this.value=this.value.replace(/,/g, '.');" class="form-control" name="ika" value="<%=typeof expenses!=='undefined'?expenses.ika:null%>">
                    <button onclick="delFunction('ika')" type="button" class="btn-md">delete</button>
                        </div>
                </div>
                <div id="water" class="form-group">
                    <label class="control-label col-sm-4" for="water">ΕΥΔΑΠ:</label>
                    <div class="col-sm-5">
                    <input type="text" onChange="this.value=this.value.replace(/,/g, '.');" class="form-control" name="water" value="<%=typeof expenses!=='undefined'?expenses.water:null%>">
                    <button onclick="delFunction('water')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="energy" class="form-group">
                    <label class="control-label col-sm-4" for="energy">ΔΕΗ:</label>
                    <div class="col-sm-5">
                    <input type="text" onChange="this.value=this.value.replace(/,/g, '.');" class="form-control" name="energy" value="<%=typeof expenses!=='undefined'?expenses.energy:null%>">
                    <button onclick="delFunction('energy')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="cleaning" class="form-group">
                    <label class="control-label col-sm-4" for="cleaning">Καθαριότητα:</label>
                    <div class="col-sm-5">
                    <input type="text" onChange="this.value=this.value.replace(/,/g, '.');" class="form-control" name="cleaning" value="<%=typeof expenses!=='undefined'?expenses.cleaning:null%>">
                    <button onclick="delFunction('cleaning')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="light" class="form-group">
                    <label class="control-label col-sm-4" for="light">Λαμπτήρες:</label>
                    <div class="col-sm-5">
                    <input type="text" onChange="this.value=this.value.replace(/,/g, '.');" class="form-control" name="light" value="<%=typeof expenses!=='undefined'?expenses.light:null%>">
                    <button onclick="delFunction('light')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="drains" class="form-group">
                    <label class="control-label col-sm-4" for="drains">Αποχέτευση:</label>
                    <div class="col-sm-5">
                    <input type="text" onChange="this.value=this.value.replace(/,/g, '.');" class="form-control" name="drains" value="<%=typeof expenses!=='undefined'?expenses.drains:null%>">
                    <button onclick="delFunction('drains')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="disinsectisation" class="form-group">
                    <label class="control-label col-sm-4" for="disinsectisation">Απεντόμωση:</label>
                    <div class="col-sm-5">
                    <input type="text" onChange="this.value=this.value.replace(/,/g, '.');" class="form-control" name="disinsectisation" value="<%=typeof expenses!=='undefined'?expenses.disinsectisation:null%>">
                    <button onclick="delFunction('disinsectisation')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="garden" class="form-group">
                    <label class="control-label col-sm-4" for="garden">Συντήρηση Κήπου:</label>
                    <div class="col-sm-5">
                    <input type="text" onChange="this.value=this.value.replace(/,/g, '.');" class="form-control" name="garden" value="<%=typeof expenses!=='undefined'?expenses.garden:null%>">
                    <button onclick="delFunction('garden')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="liftUpKeep" class="form-group">
                    <label class="control-label col-sm-4" for="liftUpKeep">Ασανσέρ Συντήρηση:</label>
                    <div class="col-sm-5">
                    <input type="text" onChange="this.value=this.value.replace(/,/g, '.');" class="form-control" name="liftUpKeep" value="<%=typeof expenses!=='undefined'?expenses.liftUpKeep:null%>">
                    <button onclick="delFunction('liftUpKeep')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="liftRepair" class="form-group">
                    <label class="control-label col-sm-4" for="liftRepair">Ασανσέρ Ανταλ. Επισκευή:</label>
                    <div class="col-sm-5">
                    <input type="text" onChange="this.value=this.value.replace(/,/g, '.');" class="form-control" name="liftRepair" value="<%=typeof expenses!=='undefined'?expenses.liftRepair:null%>">
                    <button onclick="delFunction('liftRepair')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="heat" class="form-group">
                    <label class="control-label col-sm-4" for="heat">Πετρέλαιο/Αέριο:</label>
                    <div class="col-sm-5">
                    <input type="text" onChange="this.value=this.value.replace(/,/g, '.');" class="form-control" name="heat" value="<%=typeof expenses!=='undefined'?expenses.heat:null%>">
                    <button onclick="delFunction('heat')" type="button" class="btn-md">delete</button>
                     </div>
                </div>
                <div id="heatUpKeep" class="form-group">
                    <label class="control-label col-sm-4" for="heat">Συντήρηση Καυστήρα/Λέβητα:</label>
                    <div class="col-sm-5">
                        <input type="text" onChange="this.value=this.value.replace(/,/g, '.');" class="form-control" name="heatUpKeep" value="<%=typeof expenses!=='undefined'?expenses.heatUpKeep:null%>">
                        <button onclick="delFunction('heatUpKeep')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="heatRepair" class="form-group">
                    <label class="control-label col-sm-4" for="heatRepair">Επισκευή Καυστήρα/Λέβητα:</label>
                    <div class="col-sm-5">
                        <input type="text" onChange="this.value=this.value.replace(/,/g, '.');" class="form-control" name="heatRepair" value="<%=typeof expenses!=='undefined'?expenses.heatRepair:null%>">
                        <button onclick="delFunction('heatRepair')" type="button" class="btn-md">delete</button>
                    </div>
                </div>

                <div id="reserve" class="form-group">
                    <label class="control-label col-sm-4" for="reserve">Αποθεματικό:</label>
                    <div class="col-sm-5">
                    <input type="text" onChange="this.value=this.value.replace(/,/g, '.');" class="form-control" name="reserve" value="<%=typeof expenses!=='undefined'?expenses.reserve:null%>">
                    <button onclick="delFunction('reserve')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="shared" class="form-group">
                    <label class="control-label col-sm-4" for="shared">Αμοιβή εκδ. Κοινοχρήστων:</label>
                    <div class="col-sm-5">
                    <input  type="text" onChange="this.value=this.value.replace(/,/g, '.');" class="form-control" name="shared" value="<%=typeof expenses!=='undefined'?expenses.shared:null%>">
                    <button onclick="delFunction('shared')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="otherExpenses" class="form-group">
                    <label class="control-label col-sm-4" for="otherExpenses">Λοιπά Έξοδα:</label>
                    <div class="col-sm-5">
                    <input type="text" class="form-control" name="otherExpCom" placeholder="Π.χ Περιγραφή Εξόδου" value="<%=typeof expenses!=='undefined'?expenses.otherExpCom:null%>">
                    <input type="text" onChange="this.value=this.value.replace(/,/g, '.');" class="form-control" name="otherExpenses" placeholder="Κόστος εξόδου" value="<%=typeof expenses!=='undefined'?expenses.otherExpenses:null%>">
                    <button onclick="delFunction('otherExpenses')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <br>
                <div id="labelHeatCountId" class="text-center">
                    <label>Μονάδες Θέρμανσης για κάθε Διαμέρισμα</label>
                </div>
                <br>

                <div id="removeFromPost"><!--Καταχώρηση εξόδων αρχικα-->
                     <% if(typeof flatsShownNav !== 'undefined'){ %>
                       <%  flatsShownNav.forEach(function( flatsShownNav){ %>
                    <div class="form-group">
                        <label class="control-label col-sm-2 flatLabels" for="email"><%=flatsShownNav.flatNum%>:</label>
                        <div class="col-sm-7">
                            <input onChange="this.value=this.value.replace(/,/g, '.');" class=form-control" type="text" name="flatheatcount" value="0">
                            <input class=form-control" type="hidden" name="debit" value="">
                            <input class=form-control" type="hidden" name="flat" value="<%=flatsShownNav._id%>">
                        </div>
                    </div>
                           <% }) %>
                     <%}%>
                </div>

                <div id="correctionPost"><!--Διόρθωση των εξόδων και έχουμε αυτονομία οπότε και δεν έχουμε μονάδες θέρμανσης-->
                    <% var count=0%>
                    <% if(typeof flatHeatCount!=='undefined'){ %>
                    <%  flatHeatCount.forEach(function( flatHeatCount){ %>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email"><%=flatsShownNav[count].flatNum%>:</label>
                        <!--Δημιουργείται ένα array επειδη έχουμε το ίδιο name flatheatcount,debit,flat -->
                        <div class="col-sm-7">
                            <input onChange="this.value=this.value.replace(/,/g, '.');" class=form-control" type="text" name="flatheatcount" value="<%=flatHeatCount.flatheatcount%>">
                            <input class=form-control" type="text" name="debit" value="<%=flatHeatCount.debit%>">
                            <input class=form-control" type="hidden" name="flat" value="<%=flatsShownNav[count]._id%>">
                        </div>
                    </div>
                    <%count+=1%>
                    <% }) %>
                    <%}%>
                </div>

                <br>

                <div id="comments" class="form-group">
                     <label class="control-label col-sm-2" for="email">Διευκρινίσεις:</label>
                <div class="col-sm-7">
                    <input style="width:80%;" class=form-control" type="text" placeholder="Π.χ Περιλαμβάνει και τον Ιούλιο" name="comments" value="<%=typeof expenses!=='undefined'?expenses.comments:null%>">
                </div>
                </div>

                <div class="text-center">
                    <button id="btnSubmit" type="submit" class="btn btn-primary">Καταχώρηση</button>
                    <button id="btnDelete" type="button" onclick="window.location='/users/delete/<%=typeof id!=='undefined'?id:null%>';" class="btn btn-primary">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
// Ελέγχουμε αν υπάρχουν έξοδα για να εμφανίσουμε την φόρμα της διόρθωσης -->
<%if(typeof expenses!=='undefined'){%>
    var removeYear=document.getElementById('year');
    var removeMonth=document.getElementById('month');
    removeYear.parentNode.removeChild(removeYear);//Remove div year from submit
    removeMonth.parentNode.removeChild(removeMonth); //Remove div month from submit
    document.getElementById('textId').innerHTML='ΕΞΟΔΑ <br> <br> ΜΗΝΑΣ: <%=expenses.month%> - ΈΤΟΣ : <%=expenses.year%>';
    document.getElementById('selectText').innerHTML='Προσθέστε τυχόν έξοδα που δεν καταχωρήθηκαν..';
    var elemDivFirst=document.getElementById('removeFromPost');
    elemDivFirst.parentNode.removeChild(elemDivFirst);
    <%if(block.heatType==='Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά'){%>//Εαν η θέρμανση είναι χωρις αυτονομία δεν εμφανίζουμε τις μοναδες θέρμανσης
        document.getElementById('labelHeatCountId').style.display='none';//Απόκρυψη του τίτλου μονάδες θέρμανσης
        var flatheatcount = document.getElementsByName('flatheatcount');//Μονάδες θέρμανσης
        for(i=0;i<flatheatcount.length;i++){
            flatheatcount[i].style.display='none';//Να μην εμφανίζονται οι μονάδες θέρμανσης
        }
    <%}%>
    document.getElementById('monthexpensesPost').action="/users/monthExpenses/<%=id%>";
    document.getElementById('btnSubmit').innerHTML='Διόρθωση';

<% for(var key in expenses){%>
    <% if(expenses.hasOwnProperty(key)){%>
        <% if(key!='year' && key!='month' && key!='otherExpCom'){%>
            <% if(expenses[key]!=null){%>
                    document.getElementById('<%=key %>').style.display='block';
            <%}else {%>
                    document.getElementById('<%=key %>').style.display='none';
            <%}%>
        <%}%>
    <%}%>
<%}%>

<%}else{%><!--Εφόσον δεν υπάρχουν έξοδα εμφανίζουμε τη φόρμα της πρώτης καταχώρησης -->
    var divRmvCor=document.getElementById('correctionPost');
    divRmvCor.parentNode.removeChild(divRmvCor);//Δεν εμφανίζουμε την φόρμα διορθωσης εφόσον δεν έχουμε έξοδα
    <%if(block.heatType==='Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά'){%>//Εαν η θέρμανση είναι κεντρική δεν εμφανίζουμε τις μοναδες θέρμανσης
       document.getElementById('labelHeatCountId').style.display='none';//ΔΕν εμφανίζουμε τον τίτλο μονάδες θέρμανσης
        var flatheatcount = document.getElementsByName('flatheatcount');//Μονάδες θέρμανσης
        var flatLabels = document.getElementsByClassName('control-label col-sm-2 flatLabels');//Αριθμός διαμερίσματος
        for(i=0;i<flatheatcount.length;i++){
            flatheatcount[i].style.display='none';//Να μην εμφανίζονται οι μονάδες θέρμανσης
            flatLabels[i].style.display='none';//Να μην εμφανίζονται οι αριθμοί διαμερισμάτων
        }
    <%}%>
    document.getElementById('monthexpensesPost').action="/users/monthexpenses";
    //Δεν εμφανίζουμε τα έξοδα μεχρι να τα επιλέξουμε απο το μενού
    var arrayElemNotShow=['btnDelete','salary','ika','water','energy','cleaning','light','drains','disinsectisation','garden',
        'liftUpKeep','liftRepair','heat','heatUpKeep','heatRepair','reserve','shared','otherExpenses'];

    for(i=0;i<arrayElemNotShow.length;i++){
        document.getElementById(arrayElemNotShow[i]).style.display='none';
    }
<%}%>//end of if else

    function expensesFunction() {//Εμφάνιση των εξόδων που επιλέγουμε από το μενού
        var x = document.getElementById("selectExpenses").value;
        document.getElementById(x).style.display='block';
    }

    function delFunction(id){//Διαγραφή ενός εξόδου και θέτουμε την τιμή του σε null
        document.getElementById(id).style.display='none';
        var textChild= document.getElementById(id).childNodes;
        var secDiv=textChild[3].childNodes;
        secDiv[1].value=null;
    }
    
    function calc() {
        var salaryEx = document.getElementsByName('salary')[0].value;
        var ikaEx = document.getElementsByName('ika')[0].value;
        var waterEx = document.getElementsByName('water')[0].value;
        var energyEx = document.getElementsByName('energy')[0].value;
        var cleaningEx = document.getElementsByName('cleaning')[0].value;
        var lightEx = document.getElementsByName('light')[0].value;
        var drainsEx = document.getElementsByName('drains')[0].value;
        var disinsectisationEx = document.getElementsByName('disinsectisation')[0].value;
        var gardenEx = document.getElementsByName('garden')[0].value;
        var liftUpKeepEx = document.getElementsByName('liftUpKeep')[0].value;
        var liftRepairEx = document.getElementsByName('liftRepair')[0].value;
        var heatEx = document.getElementsByName('heat')[0].value;
        var heatUpKeepEx = document.getElementsByName('heatUpKeep')[0].value;
        var heatRepairEx = document.getElementsByName('heatRepair')[0].value;
        var reserveEx = document.getElementsByName('reserve')[0].value;
        var sharedEx = document.getElementsByName('shared')[0].value;
        var otherExpensesEx = document.getElementsByName('otherExpenses')[0].value;

        var flatheatcountEx = document.getElementsByName('flatheatcount');//Μονάδες θέρμανσης
        var typeofheatEx = '<%=block.heatType%>';//Τύπος θέρμανσης
        var blockHeatFixed= '<%=block.heatFixed%>';//Παγιο θέρμανσης
        var flatsShownNav= <%- JSON.stringify(flatsShownNav)%>;
        var totalExpKoin = Number(salaryEx) + Number(ikaEx) + Number(waterEx) + Number(energyEx) + Number(cleaningEx) + Number(lightEx) + Number(drainsEx) +
                Number(disinsectisationEx) + Number(gardenEx) + Number(reserveEx) + Number(sharedEx) + Number(otherExpensesEx);
        <!-- Συνολικά έξοδα κοινοχρήστων χωρίς εξοδα ασανσερ και θέρμανσης -->
        var totalExpLift = Number(liftUpKeepEx) + Number(liftRepairEx);
        <!-- Συνολικά έξοδα ασανσερ συντήρηση συν επισκευη ανταλλακτικά -->
        var totalExpHeat = Number(heatEx) + Number(heatUpKeepEx) + Number(heatRepairEx);
        var count = 0;
        var sumΩixXil = 0;
        var sumeixfi = 0;
        var sumeixΩi = 0;

        var flatTotal;

        //Υπολογισμός του sumOf(Ωi x Χιλιοστά θέρμανσης) -->
        //Εαν έχουμε έξοδα θέρμανσης και η θέρμανση δεν είναι κεντρική υπολόγισε sumΩixXil -->
        if(totalExpHeat && typeofheatEx!='Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά'){
            flatsShownNav.forEach(function( flatsShownNav){
                sumΩixXil+= flatheatcountEx[count].value*flatsShownNav.koinratio;
                sumeixfi+=flatsShownNav.ei*flatsShownNav.fi;
                sumeixΩi+= flatsShownNav.ei*flatheatcountEx[count].value;
                count+=1;
            })
        }else {//Αλλιώς εαν δεν έχουμε έξοδα θέρμανσης το sumΩixXil ίσον με ένα -->
            sumΩixXil=1;
            sumeixfi=1;
            sumeixΩi=1;
        }

        //Ελέγχουμε αν έχουμε έξοδα θέρμανσης με μηδενικές μονάδες έχει να κάνει με το πάγιο του αερίου το καλοκαίρι -->
        var flatCheck;
        var flag=0;
        if(sumΩixXil===0){//Εάν το αθροισμα τον μοναδων θέρμανσης είναι ίσον με το μηδέν θέτω flag=1
            flag=1;
        }

        count=0;
        var debit=document.getElementsByName('debit');

        flatsShownNav.forEach(function( flatsShownNav) {
            if(typeofheatEx!=='Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά'){
                flatCheck=flatheatcountEx[count].value;
                    if(flag){
                        flatCheck=1;//μονάδες θέρμνασης θέτονται ίσον με ένα  γιατί με μηδέν δεν θα βγαίνει αποτέλεσμα
                        sumΩixXil=1000;
                    }
            }

            if(typeofheatEx==='Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά') {
                flatTotal =(((flatsShownNav.koinratio*(totalExpKoin))/1000)+
                            ((flatsShownNav.liftratio*totalExpLift)/1000)+
                            ((flatsShownNav.koinratio*totalExpHeat)/1000)).toFixed(2);

            }else if(typeofheatEx==='Αυτόνομη Θέρμανση με ωρομέτρηση και χιλιοστά'){
                flatTotal=(((flatsShownNav.koinratio*(totalExpKoin))/1000)+
                            ((flatsShownNav.liftratio*totalExpLift)/1000)+
                            ((flatsShownNav.koinratio*flatCheck*(100-blockHeatFixed)*Number(heatEx)/100)/sumΩixXil)+
                            ((flatsShownNav.koinratio*blockHeatFixed*Number(heatEx)/100)/1000)+
                            (flatsShownNav.koinratio*Number(heatUpKeepEx)/1000)+
                            (flatsShownNav.koinratio*Number(heatRepairEx)/1000)).toFixed(2);

            }else if(typeofheatEx==='Αυτόνομη Θέρμανση με ωρομέτρηση και συντελεστές ei fi'){
                flatTotal = (((flatsShownNav.koinratio * totalExpKoin) / 1000) +
                            ((flatsShownNav.liftratio * totalExpLift) / 1000) +
                            ((flatsShownNav.ei * flatheatcountEx[count].value / sumeixΩi) * (1 - sumeixfi)) * Number(heatEx) +
                            (flatsShownNav.ei * flatsShownNav.fi / sumeixfi) * sumeixfi * Number(heatEx) +
                             flatsShownNav.ei * Number(heatUpKeepEx) +
                             flatsShownNav.ei * Number(heatRepairEx)).toFixed(2);
            }
            debit[count].value=flatTotal;
            count+=1;
        })
    }
</script>

<% include templates/footer.ejs %>
</body>

</html>