<% include templates/header.ejs %>
<body>

<div class="container">
    <% include templates/body.ejs %>
    <div class="row content">
        <% include templates/navbar.ejs %>
        <div class="col-sm-9">
            <h3 align="right">
                <a data-toggle="modal" href="#helpModal">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </a>
            </h3>
            <!-- Modal -->
            <div class="modal fade" id="helpModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                            <p>Some text in the modal.</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <h4 align="center">Έξοδα Μήνα</h4>
            <% if(errorMessage){%>
            <script>
                alert('<%= errorMessage %>');
            </script>
            <br>
            <%}%>
            <form class="form-horizontal" method="post" action="" id="monthexpensesPost">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="year">Έτος:</label>
                    <div class="col-sm-7">
                    <select id="selectYear" class="form-control" name="year">
                        <option>2017</option>
                        <option>2018</option>
                        <option>2019</option>
                        <option>2020</option>
                    </select>
                     </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="month">Μήνας:</label>
                    <div class="col-sm-7">
                    <select id="selectMonth" class="form-control" name="month">
                        <option>Ιανουάριος</option>
                        <option>Φεβρουάριος</option>
                        <option>Μάρτιος</option>
                        <option>Απρίλιος</option>
                        <option>Μάιος</option>
                        <option>Ιούνιος</option>
                        <option>Ιούλιος</option>
                        <option>Αύγουστος</option>
                        <option>Σεπτέμβριος</option>
                        <option>Οκτώβριος</option>
                        <option>Νοέμβριος</option>
                        <option>Δεκέμβριος</option>
                    </select>
                        </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="month">Έξοδα:</label>
                    <div class="col-sm-7">
                    <select id="selectExpenses"  onchange="expensesFunction()" class="form-control" name="expenses">
                        <option>Επιλέξτε τα έξοδα του μήνα..</option>
                        <option value="salary">Βοηθός Διαχειριστή</option>
                        <option value="ika">Εργοδοτική Εισ. ΙΚΑ ΤΕΑΜ</option>
                        <option value="water">ΕΥΔΑΠ</option>
                        <option value="energy">ΔΕΗ</option>
                        <option value="cleaning">Καθαριότητα</option>
                        <option value="light">Λαμπτήρες</option>
                        <option value="drains">Αποχέτευση</option>
                        <option value="disinsectisation">Απεντόμωση</option>
                        <option value="garden">Συντήρηση Κήπου</option>
                        <option value="liftUpKeep">Ασανσέρ Συντήρηση</option>
                        <option value="liftRepair">Ασανσέρ Ανταλ. Επισκευή</option>
                        <option value="heat">Πετρέλαιο/Αέριο</option>
                        <option value="heatUpKeep">Συντήρηση Καυστήρα/Λέβητα</option>
                        <option value="heatRepair">Επισκευή Καυστήρα/Λέβητα</option>
                        <option value="reserve">Αποθεματικό</option>
                        <option value="shared">Αμοιβή εκδ. Κοινοχρήστων</option>
                        <option value="otherExpenses">Λοιπά έξοδα</option>
                    </select>
                        </div>
                </div>

                <div id="salary" class="form-group">
                    <label class="control-label col-sm-4" for="salary">Βοηθός Διαχειριστή:</label>
                    <div class="col-sm-5">
                    <input type="text" class="form-control" name="salary" value="<%=expenses.salary%>">
                    <button onclick="delFunction('salary')" type="button" class="btn-md" >delete</button>
                    </div>
                </div>
                <div id="ika" class="form-group">
                    <label class="control-label col-sm-4" for="ika">Εργοδοτική Εισ. ΙΚΑ ΤΕΑΜ:</label>
                    <div class="col-sm-5">
                    <input type="text" class="form-control" name="ika" value="<%=expenses.ika%>">
                    <button onclick="delFunction('ika')" type="button" class="btn-md">delete</button>
                        </div>
                </div>
                <div id="water" class="form-group">
                    <label class="control-label col-sm-4" for="water">ΕΥΔΑΠ:</label>
                    <div class="col-sm-5">
                    <input type="text" class="form-control" name="water" value="<%=expenses.water%>">
                    <button onclick="delFunction('water')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="energy" class="form-group">
                    <label class="control-label col-sm-4" for="energy">ΔΕΗ:</label>
                    <div class="col-sm-5">
                    <input type="text" class="form-control" name="energy" value="<%=expenses.energy%>">
                    <button onclick="delFunction('energy')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="cleaning" class="form-group">
                    <label class="control-label col-sm-4" for="cleaning">Καθαριότητα:</label>
                    <div class="col-sm-5">
                    <input type="text" class="form-control" name="cleaning" value="<%=expenses.cleaning%>">
                    <button onclick="delFunction('cleaning')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="light" class="form-group">
                    <label class="control-label col-sm-4" for="light">Λαμπτήρες:</label>
                    <div class="col-sm-5">
                    <input type="text" class="form-control" name="light" value="<%=expenses.light%>">
                    <button onclick="delFunction('light')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="drains" class="form-group">
                    <label class="control-label col-sm-4" for="drains">Αποχέτευση:</label>
                    <div class="col-sm-5">
                    <input type="text" class="form-control" name="drains" value="<%=expenses.drains%>">
                    <button onclick="delFunction('drains')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="disinsectisation" class="form-group">
                    <label class="control-label col-sm-4" for="disinsectisation">Απεντόμωση:</label>
                    <div class="col-sm-5">
                    <input type="text" class="form-control" name="disinsectisation" value="<%=expenses.disinsectisation%>">
                    <button onclick="delFunction('disinsectisation')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="garden" class="form-group">
                    <label class="control-label col-sm-4" for="garden">Συντήρηση Κήπου:</label>
                    <div class="col-sm-5">
                    <input type="text" class="form-control" name="garden" value="<%=expenses.garden%>">
                    <button onclick="delFunction('garden')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="liftUpKeep" class="form-group">
                    <label class="control-label col-sm-4" for="liftUpKeep">Ασανσέρ Συντήρηση:</label>
                    <div class="col-sm-5">
                    <input type="text" class="form-control" name="liftUpKeep" value="<%=expenses.liftUpKeep%>">
                    <button onclick="delFunction('liftUpKeep')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="liftRepair" class="form-group">
                    <label class="control-label col-sm-4" for="liftRepair">Ασανσέρ Ανταλ. Επισκευή:</label>
                    <div class="col-sm-5">
                    <input type="text" class="form-control" name="liftRepair" value="<%=expenses.liftRepair%>">
                    <button onclick="delFunction('liftRepair')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="heat" class="form-group">
                    <label class="control-label col-sm-4" for="heat">Πετρέλαιο/Αέριο:</label>
                    <div class="col-sm-5">
                    <input type="text" class="form-control" name="heat" value="<%=expenses.heat%>">
                    <button onclick="delFunction('heat')" type="button" class="btn-md">delete</button>
                     </div>
                </div>
                <div id="heatUpKeep" class="form-group">
                    <label class="control-label col-sm-4" for="heat">Συντήρηση Καυστήρα/Λέβητα:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="heatUpKeep" value="<%=expenses.heatUpKeep%>">
                        <button onclick="delFunction('heatUpKeep')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="heatRepair" class="form-group">
                    <label class="control-label col-sm-4" for="heatRepair">Επισκευή Καυστήρα/Λέβητα:</label>
                    <div class="col-sm-5">
                        <input type="text" class="form-control" name="heatRepair" value="<%=expenses.heatRepair%>">
                        <button onclick="delFunction('heatRepair')" type="button" class="btn-md">delete</button>
                    </div>
                </div>

                <div id="reserve" class="form-group">
                    <label class="control-label col-sm-4" for="reserve">Αποθεματικό:</label>
                    <div class="col-sm-5">
                    <input type="text" class="form-control" name="reserve" value="<%=expenses.reserve%>">
                    <button onclick="delFunction('reserve')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="shared" class="form-group">
                    <label class="control-label col-sm-4" for="shared">Αμοιβή εκδ. Κοινοχρήστων:</label>
                    <div class="col-sm-5">
                    <input  type="text" class="form-control" name="shared" value="<%=expenses.shared%>">
                    <button onclick="delFunction('shared')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <div id="otherExpenses" class="form-group">
                    <label class="control-label col-sm-4" for="otherExpenses">Λοιπά έξοδα:</label>
                    <div class="col-sm-5">
                    <input type="text" class="form-control" name="otherExpenses" value="<%=expenses.otherExpenses%>">
                    <button onclick="delFunction('otherExpenses')" type="button" class="btn-md">delete</button>
                    </div>
                </div>
                <br>
                <div id="labelHeatCountId" class="text-center">
                    <label>Μονάδες Θέρμανσης για κάθε Διαμέρισμα</label>
                </div>
                <br>

                <div id="removeFromPost">
                     <% if(typeof flatsShownNav !== 'undefined'){ %>
                       <%  flatsShownNav.forEach(function( flatsShownNav){ %>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email"><%=flatsShownNav.flatNum%>:</label>
                        <div class="col-sm-7">
                            <input class=form-control" type="text" name="flatheatcount" value="">
                            <input class=form-control" type="hidden" name="flat" value="<%=flatsShownNav._id%>">
                        </div>
                    </div>
                           <% }) %>
                     <%}%>
                </div>

                <div id="correctionPost">
                    <% var count=0%>
                    <% if(flatHeatCount!='undefined'){ %>
                    <%  flatHeatCount.forEach(function( flatHeatCount){ %>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="email"><%=flatsShownNav[count].flatNum%>:</label>
                        <div class="col-sm-7">
                            <input class=form-control" type="text" name="flatheatcount" value="<%=flatHeatCount.flatheatcount%>">
                            <input class=form-control" type="hidden" name="flat" value="<%=flatsShownNav[count]._id%>">
                        </div>
                    </div>
                    <%count+=1%>
                    <% }) %>
                    <%}%>
                </div>

                <div class="text-center">
                    <button id="btnSubmit" type="submit" class="btn btn-primary">Καταχώρηση</button>
                    <button id="btnDelete" type="button" onclick="window.location='/users/delete/<%=id%>';" class="btn btn-primary">Delete</button>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- Ελέγχουμε αν υπάρχουν έξοδα για να εμφανίσουμε την φόρμα της διόρθωσης -->
<%if(expenses!='undefined'){%>
<script>
    var divRmv=document.getElementById('removeFromPost');
    divRmv.parentNode.removeChild(divRmv);
    document.getElementById('monthexpensesPost').action="/users/monthexpenses/<%=id%>";
    document.getElementById('btnSubmit').innerHTML='Διόρθωση';
    document.getElementById("selectYear").value='<%=expenses.year%>';
    document.getElementById("selectMonth").value='<%=expenses.month%>';
</script>

<% for(var key in expenses){%>
    <% if(expenses.hasOwnProperty(key)){%>
        <% if(expenses[key]!=null && key!='year'){%>
            <script>
                document.getElementById('<%=key %>').style.display='block';
            </script>
         <%}else {%>
            <script>
                document.getElementById('<%=key %>').style.display='none';
            </script>
        <%}%>
    <%}%>
<%}%>
<%}else {%><!--Εφόσον δεν υπάρχουν έξοδα εμφανίζουμε τη φόρμα της πρώτης καταχώρησης -->

<script>
    <%if(typeOfHeat==='Κεντρική θέρμανση'){%>//Εαν η θέρμανση είναι κεντρική δεν εμφανίζουμε τις μοναδες θέρμανσης
       document.getElementById('labelHeatCountId').style.display='none';
        var divRmvCor=document.getElementById('correctionPost');
        divRmvCor.parentNode.removeChild(divRmvCor);
        var divRmv=document.getElementById('removeFromPost');
        divRmv.parentNode.removeChild(divRmv);
    <%}else{%>//Εαν δεν είναι κεντρική εμφανίζουμε τις μοναδες θέρμανσης
        var divRmvCor=document.getElementById('correctionPost');
        divRmvCor.parentNode.removeChild(divRmvCor);
    <%}%>
    document.getElementById('monthexpensesPost').action="/users/monthexpenses";
    document.getElementById('btnDelete').style.display='none';
    document.getElementById('salary').style.display='none';
    document.getElementById('ika').style.display='none';
    document.getElementById('water').style.display='none';
    document.getElementById('energy').style.display='none';
    document.getElementById('cleaning').style.display='none';
    document.getElementById('light').style.display='none';
    document.getElementById('drains').style.display='none';
    document.getElementById('disinsectisation').style.display='none';
    document.getElementById('garden').style.display='none';
    document.getElementById('liftUpKeep').style.display='none';
    document.getElementById('liftRepair').style.display='none';
    document.getElementById('heat').style.display='none';
    document.getElementById('heatUpKeep').style.display='none';
    document.getElementById('heatRepair').style.display='none';
    document.getElementById('reserve').style.display='none';
    document.getElementById('shared').style.display='none';
    document.getElementById('otherExpenses').style.display='none';
</script>
<%}%>

<script>
    function expensesFunction() {
        var x = document.getElementById("selectExpenses").value;
        document.getElementById(x).style.display='block';
    }

    function delFunction(id){
        document.getElementById(id).style.display='none';
        var textChild= document.getElementById(id).childNodes;
        var secDiv=textChild[3].childNodes;
        secDiv[1].value=null;
    }
</script>

<% include templates/footer.ejs %>
</body>

</html>