<% include templates/header.ejs %>
<body>

<div class="container" style="background-color: #eee">
    <% include templates/body.ejs %>
    <div class="row content">
        <% include templates/navbar.ejs %>
        <div class="col-sm-9">
            <h3 align="right">
                <a data-toggle="modal" href="#helpModal">
                    <span class="glyphicon glyphicon-info-sign"></span>
                </a>
            </h3>
            <!-- Modal -->
            <div class="modal fade" id="helpModal" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header" style="background-color: #5cb85c;color:white !important;">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title text-center">Καταχώρηση Εξόδων Μήνα - Έτους</h4>
                        </div>
                        <div class="modal-body">
                            <ul>
                                <li>Αφού έχουμε καταχωρήσει την πολυκατοικία και τα διαμερίσματα της, ακολουθεί η καταχώρηση
                                των εξόδων της πολυκατοικίας μια διαδικασία που επαναλλαμβάνεται κάθε μήνα.</li>
                                <li>Eπιλέγουμε έτος και μήνα και εν συνεχεία επιλέγουμε τα έξοδα του μήνα από την λίστα
                                επιλογών</li>
                                <li>Ανάλογα με τον τύπο θέρμανσης που έχουμε επιλέξει εμφανίζεται ή όχι ο πίνακας με τις μονάδες
                                θέρμανσης κάθε διαμερίσματος. Εμφανίζεται σε αυτόνομους τύπους θέρμανσης. Οι μονάδες θέρμανσης
                                κάθε διαμερίσματος προκύπτουν αφαιρώντας από την τωρινή μέτρηση την προηγούμενη. Στα πεδία κάθε
                                διαμερίσματος συμπληρώνουμε αυτή τη διαφορά.</li>
                                <li>Όταν καταχωρούμε ένα έξοδο αυτό εμφανίζεται στο ημερολόγιο θέτοντας τον αντιστοιχο μήνα με πράσινο χρώμα</li>
                            </ul>
                        </div>
                        <div class="modal-footer" style="background-color: #5cb85c;color:white !important;">
                            <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <h3 id="textId" align="center">Έξοδα Μήνα</h3>
            <% if(errorMessage){%>
            <script>
                alert('<%= errorMessage %>');
            </script>
            <br>
            <%}%>
            <form class="form-horizontal" method="post" action="" id="monthexpensesPost" onsubmit="calc()">
                <div id="year" class="form-group">
                    <label class="control-label col-sm-2" for="year">Έτος:</label>
                    <div class="col-sm-7">
                    <select id="selectYear" class="form-control" name="year">
                        <option>2017</option>
                        <option>2018</option>
                        <option>2019</option>
                        <option>2020</option>
                        <option>2021</option>
                    </select>
                     </div>
                </div>
                <div id="month" class="form-group">
                    <label class="control-label col-sm-2" for="month">Μήνας:</label>
                    <div class="col-sm-7">
                    <select multiple id="selectMonth" class="form-control" name="month">
                        <option>Ιανουάριος</option>
                        <option>Φεβρουάριος</option>
                        <option>Μάρτιος</option>
                        <option>Απρίλιος</option>
                        <option>Μάιος</option>
                        <option>Ιούνιος</option>
                        <option>Ιούλιος</option>
                        <option>Αύγουστος</option>
                        <option>Σεπτέμβριος</option>
                        <option>Οκτώβριος</option>
                        <option>Νοέμβριος</option>
                        <option>Δεκέμβριος</option>
                    </select>
                        </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="month">Έξοδα:</label>
                    <div class="col-sm-7">
                    <select id="selectExpenses"  onchange="expensesFunction()" class="form-control" name="expenses">
                        <option value="default" id="selectText">Επιλέξτε τα έξοδα του μήνα..</option>
                        <option value="salary">Βοηθός Διαχειριστή</option>
                        <option value="ika">Εργοδοτική Εισ. ΙΚΑ ΤΕΑΜ</option>
                        <option value="water">ΕΥΔΑΠ</option>
                        <option value="energy">ΔΕΗ</option>
                        <option value="cleaning">Καθαριότητα</option>
                        <option value="light">Λαμπτήρες</option>
                        <option value="drains">Αποχέτευση</option>
                        <option value="disinsectisation">Απεντόμωση</option>
                        <option value="garden">Συντήρηση Κήπου</option>
                        <option value="liftUpKeep">Ασανσέρ Συντήρηση</option>
                        <option value="liftRepair">Ασανσέρ Ανταλ. Επισκευή</option>
                        <option value="heat">Πετρέλαιο/Αέριο</option>
                        <option value="heatUpKeep">Συντήρηση Καυστήρα/Λέβητα</option>
                        <option value="heatRepair">Επισκευή Καυστήρα/Λέβητα</option>
                        <option value="reserve">Αποθεματικό</option>
                        <option value="shared">Αμοιβή εκδ. Κοινοχρήστων</option>
                        <option value="otherExpenses">Λοιπά έξοδα</option>
                    </select>
                        </div>
                </div>

                <% if ( typeof expenses !== 'undefined' ) { %>
                    <input class=form-control" type="hidden" name="year" value="<%=expenses.year%>">
                    <input class=form-control" type="hidden" name="month" value="<%=expenses.month%>">
                <% } %>

                <div id="expensesId" class="form-group">

                </div>
                <br>
                <div id="heatCountsCheckboxIncludeId" class="form-group">
                  <label class="control-label col-sm-4" for="email">Υπάρχουν μονάδες θέρμανσης?</label>
                  <div class="col-sm-8">
                    <label class="checkbox-inline"><input id="heatCountsCheckbox" onclick="showInputsForFlatHeatCounts()" type="checkbox">Ναι</label>
                  </div>
                </div>
                <div id="labelHeatCountId" class="text-center">
                    <label>Μονάδες Θέρμανσης για κάθε Διαμέρισμα</label>
                    <br>
                    <div id="removeFromPost"><!--Καταχώρηση εξόδων αρχικα-->
                      <div class="col-sm-6">
                        <label>Προηγούμενη μέτρηση</label>
                      </div>
                      <div class="col-sm-6">
                        <label>Τελευταία μέτρηση</label>
                      </div>
                        <% if(typeof flatsShownNav !== 'undefined'){ %>
                          <%  flatsShownNav.forEach(function( flatsShownNav){ %>
                             <div class="form-group col-sm-6">
                                 <label class="control-label col-sm-1 flatLabels"><%=flatsShownNav.flatNum%>:</label>
                                 <div class="col-sm-4">
                                     <input class=form-control" type="text" name="flatHeatCountHistory" value="<%=flatsShownNav.flatHeatCountHistory%>">
                                 </div>
                             </div>
                             <div class="form-group col-sm-6">
                                 <label class="control-label col-sm-1 flatLabels"><%=flatsShownNav.flatNum%>:</label>
                                 <div class="col-sm-4">
                                     <input onChange="this.value=this.value.replace(/,/g, '.');" class=form-control" type="text" name="flatheatcount" value="0">
                                     <input class=form-control" type="hidden" name="debit" value="">
                                     <input class=form-control" type="hidden" name="flat" value="<%=flatsShownNav._id%>">
                                 </div>
                             </div>
                          <% }) %>
                        <%}%>
                    </div>

                    <div id="correctionPost"><!--Διόρθωση των εξόδων αν δεν έχουμε αυτονομία δεν θα έχουμε και μονάδες θέρμανσης-->
                        <% if(typeof flatHeatCount!=='undefined'){ %>
                        <%  flatHeatCount.forEach(function(flatHeatCount, index){ %>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email"><%=flatsShownNav[index].flatNum%>:</label>
                            <!--Δημιουργείται ένα array επειδη έχουμε το ίδιο name flatheatcount,debit,flat -->
                            <div class="col-sm-7">
                                <input onChange="this.value=this.value.replace(/,/g, '.');" class=form-control" type="text" name="flatheatcount" value="<%=flatHeatCount.flatheatcount%>">
                                <input class=form-control" type="text" name="debit" value="<%=flatHeatCount.debit%>">
                                <input class=form-control" type="hidden" name="flat" value="<%=flatsShownNav[index]._id%>">
                            </div>
                        </div>
                        <% }) %>
                        <%}%>
                    </div>
                </div>
                <br>

                <div id="comments" class="form-group">
                  <label class="control-label col-sm-2" for="email">Διευκρινίσεις:</label>
                  <div class="col-sm-7">
                      <input style="width:80%;" class=form-control" type="text" placeholder="Π.χ Περιλαμβάνει και τον Ιούλιο" name="comments" value="<%=typeof expenses!=='undefined'?expenses.comments:null%>">
                  </div>
                </div>

                <div class="text-center">
                    <button id="btnSubmit" type="submit" class="btn btn-success">Καταχώρηση</button>
                    <button id="btnDelete" type="button" onclick="window.location='/users/delete/<%=typeof id!=='undefined'?id:null%>';" class="btn btn-success">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
  let obj = {
    salary: 'Βοηθός Διαχειριστή',
    ika: 'Εργοδοτική Εισ. ΙΚΑ ΤΕΑΜ',
    water: 'ΕΥΔΑΠ',
    energy: 'ΔΕΗ',
    cleaning: 'Καθαριότητα',
    light: 'Λαμπτήρες',
    drains: 'Αποχέτευση',
    disinsectisation: 'Απεντόμωση',
    garden: 'Συντήρηση Κήπου',
    liftUpKeep: 'Ασανσέρ Συντήρηση',
    liftRepair: 'Ασανσέρ Ανταλ. Επισκευή',
    heat: 'Πετρέλαιο/Αέριο',
    heatUpKeep: 'Συντήρηση Καυστήρα/Λέβητα',
    heatRepair: 'Επισκευή Καυστήρα/Λέβητα',
    reserve: 'Αποθεματικό',
    shared: 'Αμοιβή εκδ. Κοινοχρήστων'
  }
  let text,val,cost;
// Ελέγχουμε αν υπάρχουν έξοδα για να εμφανίσουμε την φόρμα της διόρθωσης -->
<% if ( typeof expenses !== 'undefined' ) { %>
    $('#year').remove();//Remove div year from submit
    $('#month').remove();//Remove div month from submit
    document.getElementById('textId').innerHTML='ΕΞΟΔΑ <br> ΜΗΝΑΣ: <%=expenses.month%> - ΈΤΟΣ : <%=expenses.year%>';
    document.getElementById('selectText').innerHTML='Προσθέστε τυχόν έξοδα που δεν καταχωρήθηκαν..';
    $('#removeFromPost').remove();
    //Εαν η θέρμανση είναι χωρις αυτονομία δεν εμφανίζουμε τις μοναδες θέρμανσης
    <% if ( block.heatType === 'Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά' ) { %>
        $('#labelHeatCountId').hide();
    <% } %>
    //hide div element with question Υπάρχουν μονάδες θέρμανσης? .includes
    //checkbox also
    $('#heatCountsCheckboxIncludeId').hide();
    document.getElementById('monthexpensesPost').action="/users/monthExpenses/<%=id%>";
    document.getElementById('btnSubmit').innerHTML='Διόρθωση';

<% for( var key in expenses ) { %>
    <% if(expenses.hasOwnProperty(key)){%>
        <% if (key != 'year' && key != 'month' && key != 'otherExpCom' && key != 'comments') { %>
            <% if (expenses[key]  != null ) { %>
              <% if ( key == 'otherExpenses' ) { %>
                $('#expensesId').append(`
                  <div id="otherExpenses" class="form-group">
                      <label class="control-label col-sm-4" for="otherExpenses">Λοιπά Έξοδα:</label>
                      <div class="col-sm-5">
                      <input type="text" class="form-control" name="otherExpCom" placeholder="Π.χ Περιγραφή Εξόδου" value="<%=typeof expenses!=='undefined'?expenses.otherExpCom:null%>">
                      <input type="text" onChange="this.value=this.value.replace(/,/g, '.');" class="form-control" name="otherExpenses" placeholder="Κόστος εξόδου" value="<%=typeof expenses!=='undefined'?expenses.otherExpenses:null%>">
                      <button onclick="delFunction('otherExpenses')" type="button" class="btn-md">delete</button>
                      </div>
                  </div>
                `);
              <% } else { %>
                val = '<%=key%>';
                text = obj['<%=key%>'];
                cost = '<%=expenses[key]%>';
                $('#expensesId').append(`
                  <div id="${val}" class="form-group">
                      <label class="control-label col-sm-4" for="<%=key%>">${text}</label>
                      <div class="col-sm-5">
                      <input type="text" onChange="this.value=this.value.replace(/,/g, '.');" class="form-control" name="${val}" value="${cost}">
                      <button onclick="delFunction('${val}')" type="button" class="btn-md" >delete</button>
                      </div>
                  </div>
                `);
              <% } %>
            <% } %>
        <% } %>
    <% } %>
<% } %>

<% } else { %> //Εφόσον δεν υπάρχουν έξοδα εμφανίζουμε τη φόρμα της πρώτης καταχώρησης -->
  var months=["Ιανουάριος","Φεβρουάριος","Μάρτιος","Απρίλιος","Μαιος","Ιούνιος","Ιούλιος","Αύγουστος","Σεπτέμβριος","Οκτώβριος",
      "Νοέμβριος","Δεκέμβριος"];
    var dateNow = new Date();
    var year = dateNow.getFullYear();
    var month = dateNow.getMonth();
    //set current year
    document.getElementById("selectYear").value = year;
    //set current month
    document.getElementById("selectMonth").value = months[month];
    //Δεν εμφανίζουμε την φόρμα διορθωσης εφόσον δεν έχουμε έξοδα καταχωρημένα
    $('#correctionPost').remove();
    $('#heatCountsCheckboxIncludeId').hide();
    //Εαν η θέρμανση είναι κεντρική δεν εμφανίζουμε τις μοναδες θέρμανσης
    <% if ( block.heatType === 'Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά' ) { %>
      $('#labelHeatCountId').hide();
    <% } %>
    document.getElementById('monthexpensesPost').action="/users/monthexpenses";
    $('#labelHeatCountId').hide();
<% } %>//end of if else

//Εμφάνιση των εξόδων που επιλέγουμε από το μενού
function expensesFunction() {
  let selectedOptionValue = $('#selectExpenses').val();
  let selectedText = $("#selectExpenses :selected").text();
  //document.getElementById(selectedOption).style.display='block';
  if ( selectedOptionValue == 'otherExpenses' ) {
    $('#expensesId').append(`
      <div id="otherExpenses" class="form-group">
          <label class="control-label col-sm-4" for="otherExpenses">Λοιπά Έξοδα:</label>
          <div class="col-sm-5">
          <input type="text" class="form-control" name="otherExpCom" placeholder="Π.χ Περιγραφή Εξόδου" value="<%=typeof expenses!=='undefined'?expenses.otherExpCom:null%>">
          <input type="text" onChange="this.value=this.value.replace(/,/g, '.');" class="form-control" name="otherExpenses" placeholder="Κόστος εξόδου" value="<%=typeof expenses!=='undefined'?expenses.otherExpenses:null%>">
          <button onclick="delFunction('otherExpenses')" type="button" class="btn-md">delete</button>
          </div>
      </div>
    `);
    $('#selectExpenses').val('default');
  } else {
    if ( selectedText != 'Επιλέξτε τα έξοδα του μήνα..' ) {
      $('#expensesId').append(`
        <div id="${selectedOptionValue}" class="form-group">
            <label class="control-label col-sm-4" for="${selectedOptionValue}">${selectedText}</label>
            <div class="col-sm-5">
            <input type="text" onChange="this.value=this.value.replace(/,/g, '.');" class="form-control" name="${selectedOptionValue}" value="<%=typeof expenses!=='undefined'?expenses['${selectedOptionValue}']:null%>">
            <button onclick="delFunction('${selectedOptionValue}')" type="button" class="btn-md" >delete</button>
            </div>
        </div>
      `);
    }
    if ( selectedOptionValue == 'heat' ) {
      $('#heatCountsCheckboxIncludeId').show();
    }
    $('#selectExpenses').val('default');
  }
}

function delFunction(id){//Διαγραφή ενός εξόδου και θέτουμε την τιμή του σε null
  $(`#${id}`).remove();
  if ( id == 'heat' ) {
    $('#heatCountsCheckboxIncludeId').hide();
  }
  $('#selectExpenses').val('default');
}

function showInputsForFlatHeatCounts() {
  if ( $('#heatCountsCheckbox').is(':checked') ) {
    $('#labelHeatCountId').show();
  } else {
    $('#labelHeatCountId').hide();
  }
}

function calc() {
  let salaryEx = $('[name="salary"]').length ? $($('[name="salary"]')[0]).val() : 0;
  let ikaEx = $('[name="ika"]').length ? $($('[name="ika"]')[0]).val() : 0;
  let waterEx = $('[name="water"]').length ? $($('[name="water"]')[0]).val() : 0;
  let energyEx = $('[name="energy"]').length ? $($('[name="energy"]')[0]).val() : 0;
  let cleaningEx = $('[name="cleaning"]').length ? $($('[name="cleaning"]')[0]).val() : 0;
  let lightEx = $('[name="light"]').length ? $($('[name="light"]')[0]).val() : 0;
  let drainsEx = $('[name="drains"]').length ? $($('[name="drains"]')[0]).val() : 0;
  let disinsectisationEx = $('[name="disinsectisation"]').length ? $($('[name="disinsectisation"]')[0]).val() : 0;
  let gardenEx = $('[name="garden"]').length ? $($('[name="garden"]')[0]).val() : 0;
  let liftUpKeepEx = $('[name="liftUpKeep"]').length ? $($('[name="liftUpKeep"]')[0]).val() : 0;
  let liftRepairEx = $('[name="liftRepair"]').length ? $($('[name="liftRepair"]')[0]).val() : 0;
  let heatEx = $('[name="heat"]').length ? $($('[name="heat"]')[0]).val() : 0;
  let heatUpKeepEx = $('[name="heatUpKeep"]').length ? $($('[name="heatUpKeep"]')[0]).val() : 0;
  let heatRepairEx = $('[name="heatRepair"]').length ? $($('[name="heatRepair"]')[0]).val() : 0;
  let reserveEx = $('[name="reserve"]').length ? $($('[name="reserve"]')[0]).val() : 0;
  let sharedEx = $('[name="shared"]').length ? $($('[name="shared"]')[0]).val() : 0;
  let otherExpensesEx = $('[name="otherExpenses"]').length ? $($('[name="otherExpenses"]')[0]).val() : 0;

  var flatheatcountEx = document.getElementsByName('flatheatcount');//Μονάδες θέρμανσης τωρινές
  var flatHeatCountHistoryEx = document.getElementsByName('flatHeatCountHistory');//Μονάδες θέρμανσης τωρινές
  var typeofheatEx = '<%=block.heatType%>';//Τύπος θέρμανσης
  var blockHeatFixed= '<%=block.heatFixed%>';//Παγιο θέρμανσης
  var flatsShownNav= <%- JSON.stringify(flatsShownNav)%>;
  var totalExpKoin = Number(salaryEx) + Number(ikaEx) + Number(waterEx) +
                     Number(energyEx) + Number(cleaningEx) + Number(lightEx) +
                     Number(drainsEx) + Number(disinsectisationEx) +
                     Number(gardenEx) + Number(reserveEx) + Number(sharedEx) +
                     Number(otherExpensesEx);
  //Συνολικά έξοδα κοινοχρήστων χωρίς εξοδα ασανσερ και θέρμανσης -->
  var totalExpLift = Number(liftUpKeepEx) + Number(liftRepairEx);
  //Συνολικά έξοδα ασανσερ συντήρηση συν επισκευη ανταλλακτικά -->
  var totalExpHeat = Number(heatEx) + Number(heatUpKeepEx) + Number(heatRepairEx);
  var sumΩixXil = 0;
  var sumeixfi = 0;
  var sumeixΩi = 0;
  var flatTotal; //Συνολικα έξοδα διαμερίσματος

  //Υπολογισμός του sumOf(Ωi x Χιλιοστά θέρμανσης) -->
  //Εαν έχουμε έξοδα θέρμανσης και η θέρμανση δεν είναι κεντρική υπολόγισε sumΩixXil -->
  var flatHeatCountDifference;
  if( totalExpHeat && typeofheatEx != 'Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά' ) {
    flatsShownNav.forEach(function(flatsShownNav, index) {
      //in correction mode flatHeatCountHistoryEx dont exist
      if( flatHeatCountHistoryEx.length ) {
        flatHeatCountDifference = Number(flatheatcountEx[index].value) - Number(flatHeatCountHistoryEx[index].value);
      } else {
        flatHeatCountDifference = Number(flatheatcountEx[index].value);
      }
      sumΩixXil += flatHeatCountDifference*flatsShownNav.koinratio;
      sumeixfi += flatsShownNav.ei*flatsShownNav.fi;
      sumeixΩi += flatsShownNav.ei*flatHeatCountDifference;
    })
  } else {
    //Αλλιώς εαν δεν έχουμε έξοδα θέρμανσης το sumΩixXil ίσον με ένα -->
    sumΩixXil = 1;
    sumeixfi = 1;
    sumeixΩi = 1;
  }

  //Ελέγχουμε αν έχουμε έξοδα θέρμανσης με μηδενικές μονάδες έχει να κάνει με το πάγιο του αερίου το καλοκαίρι -->
  //Αυτό συμβαίνει οταν totalExpHeat != 0 και sumeixΩi = 0;
  let heatExpenseWithoutHeatCounts = false;
  if ( totalExpHeat && !sumΩixXil ) {
    heatExpenseWithoutHeatCounts = true;
  }

  //calc debit for each flat
  var debit=document.getElementsByName('debit');
  flatsShownNav.forEach(function(flatsShownNav, index) {
    if( typeofheatEx !== 'Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά' ) {
      /*
        flatHeatCountHistoryEx length is true only on first post of expenses
        On correction flatHeatCountHistoryEx input is disabled.
      */
      if ( flatHeatCountHistoryEx.length && !heatExpenseWithoutHeatCounts ) {
        flatHeatCountDifference = Number(flatheatcountEx[index].value) - Number(flatHeatCountHistoryEx[index].value);
      } else if ( flatHeatCountHistoryEx.length && heatExpenseWithoutHeatCounts ) {
        //μονάδες θέρμανσης θέτονται ίσον με ένα  γιατί με μηδέν δεν θα βγαίνει αποτέλεσμα
        flatHeatCountDifference=1;
        sumΩixXil=1000;
      } else {
        flatHeatCountDifference = Number(flatheatcountEx[index].value);
      }
    }

    if ( typeofheatEx === 'Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά' ) {
        flatTotal =(((flatsShownNav.koinratio*(totalExpKoin))/1000)+
                    ((flatsShownNav.liftratio*totalExpLift)/1000)+
                    ((flatsShownNav.koinratio*totalExpHeat)/1000)).toFixed(2);

    } else if ( typeofheatEx === 'Αυτόνομη Θέρμανση με ωρομέτρηση και χιλιοστά' ) {
        flatTotal=(((flatsShownNav.koinratio*(totalExpKoin))/1000)+
                    ((flatsShownNav.liftratio*totalExpLift)/1000)+
                    ((flatsShownNav.koinratio*flatHeatCountDifference*(100-blockHeatFixed)*Number(heatEx)/100)/sumΩixXil)+
                    ((flatsShownNav.koinratio*blockHeatFixed*Number(heatEx)/100)/1000)+
                    (flatsShownNav.koinratio*Number(heatUpKeepEx)/1000)+
                    (flatsShownNav.koinratio*Number(heatRepairEx)/1000)).toFixed(2);

    } else if ( typeofheatEx === 'Αυτόνομη Θέρμανση με ωρομέτρηση και συντελεστές ei fi' ) {
        flatTotal = (((flatsShownNav.koinratio * totalExpKoin) / 1000) +
                    ((flatsShownNav.liftratio * totalExpLift) / 1000) +
                    ((flatsShownNav.ei * flatHeatCountDifference / sumeixΩi) * (1 - sumeixfi)) * Number(heatEx) +
                    (flatsShownNav.ei * flatsShownNav.fi / sumeixfi) * sumeixfi * Number(heatEx) +
                     flatsShownNav.ei * Number(heatUpKeepEx) +
                     flatsShownNav.ei * Number(heatRepairEx)).toFixed(2);
    }
    debit[index].value = flatTotal;
  })
}
</script>

<% include templates/footer.ejs %>
</body>

</html>
