<% include templates/header.ejs %>
<body>

<div class="container">
    <% include templates/body.ejs %>
    <h1>Κόστος Εγκατάστασης Φυσικού Aερίου</h1>
     <p>Μέτρα σωλήνα από τον μετρητή μέχρι το καυστήρα:
     </strong> <%=meters%>: μέτρα<br/><strong>Επιλεγμένες θερμίδες λέβητα:</strong> 
     <%=q%>: Kcal/h <br/> <strong>Υπολογισμός διαμέτρου  σωλήνα σε ίντσες:</strong> 
     <%=diatomi%>:diametros <br/><strong>Πτώση πίεσης :</strong> <%=dpol%>: mbar<2mbar 
     <br/><strong>Αλλαγή λέβητα:</strong> <%=changeHeater%><br/><strong>
     Ανιχνευτής αέριου και ηλεκτροβάνα:</strong> <%=gasDetector%><br/><strong>
     Μελέτη εγκατάστασης και κατάθεση φακέλου:</strong> 200 Ευρώ <br/><strong> 
     Τιμή προσφοράς:</strong> <%=cost%>: Ευρώ**<br/></p>
     //radiand έκπτωση 20% tasso 20%
     <p>Στην τιμή περιλαμβάνονται και τα εργατικά.  
     Θεωρείται ότι στην εγκατάσταση δεν υπάρχει θαμμένο τμήμα σωλήνα.
     Επίσης δεν λαμβλάνεται υπόψη εργασία για τυχόν νέο άνοιγμα εξαερισμού 
     ή διεύρυνση υπάρχοντος.(Αν υπάρχει θαμμένο τμήμα η τιμή θα εξαρτάται 
     από τα μέτρα τμήματος αυτού και αντίστοιχα για το άνοιγμα από τις 
     διαστάσεις του).<br />
        <br />
      Οι τιμές είναι χωρίς Φ.Π.Α 23% </p>
      <p>Η τιμή είναι ενδεικτική .Η τελική τιμή προκύπτει πάντα μετά 
      από επιτόπου έλεγχο της εγκατάστασης από Μηχανολόγο Μηχανικό.</p>
      <p>Σε εγκαταστάσεις με λέβητα ισχύος μεγαλύτερη των <strong> 175 KW (150.000 kcal/h)</strong> συνιστάται η   χρησιμοποίηση <strong>διβάθμιου καυστήρα</strong> για την οικονομικότερη λειτουργία και τη   ρύθμιση της εκπομπής ακαύστων υδρογονανθράκων στη φάση της έναυσης.<br />
Σύμφωνα με την <strong>ΥΑ 10315/93</strong> &quot;σε όσες εγκαταστάσεις έχουν θερμική ισχύ μεγαλύτερη από <strong>200.000 kcal/h- 233 KW</strong> ,επιβάλλεται, για λόγους εξοικονόμησης ενέργειας και προστασίας του περιβάλλοντος, η χρήση διβάθμιων καυστήρων ή άλλων προηγμένης τεχνολογίας.&quot;</p>";

</div>

<% include templates/footer.ejs %>
</body>

</html>