<% include templates/header.ejs %>
<body>

<div class="container">
    <% include templates/body.ejs %>
    <div class="row content">
        <% include templates/navbar.ejs %>
        <div class="col-sm-9">
            <h4 id="textId" class="text-center">ΕΛΕΓΧΟΣ ΠΛΗΡΩΜΩΝ ΜΗΝΑ</h4>
            <form class="form-horizontal" method="post" onsubmit="checkPayoffChecked()" action="/users/paymentControl">
                <div id="year" class="form-group">
                    <label class="control-label col-sm-2" for="year">Έτος:</label>
                    <div class="col-sm-7">
                        <select class="form-control" name="year">
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                        </select>
                    </div>
                </div>
                <div id="month" class="form-group">
                    <label class="control-label col-sm-2" for="month">Μήνας:</label>
                    <div class="col-sm-7">
                        <select class="form-control" name="month">
                            <option>Ιανουάριος</option>
                            <option>Φεβρουάριος</option>
                            <option>Μάρτιος</option>
                            <option>Απρίλιος</option>
                            <option>Μάιος</option>
                            <option>Ιούνιος</option>
                            <option>Ιούλιος</option>
                            <option>Αύγουστος</option>
                            <option>Σεπτέμβριος</option>
                            <option>Οκτώβριος</option>
                            <option>Νοέμβριος</option>
                            <option>Δεκέμβριος</option>
                        </select>
                    </div>
                </div>
            <br>

                <!-- Αν έχουμε έξοδα τότε εμφανίζονται όλοι οι πίνακες) -->
                <%if(expenses){%>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="text-center">Διαμέρισμα</th>
                        <th class="text-center">Ποσό πληρωμής</th>
                        <th class="text-center">Εξόφληση Μήνα</th>
                        <th class="text-center">Πλέον του Μήνα</th>
                        <th class="text-center">Υπόλοιπο Για Πληρωμή</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% var count=0%>
                    <% if(flatHeatCount!='undefined'){ %>
                    <input class=form-control" type="hidden" name="year" value="<%=expenses.year%>">
                    <input class=form-control" type="hidden" name="month" value="<%=expenses.month%>">
                        <%  flatHeatCount.forEach(function( flatHeatCount){ %>
                            <tr>
                                <td class="text-center"><%=flatsShownNav[count].flatNum%></td>
                                <td class="text-center" name="monthDebit"><%=flatHeatCount.debit.toFixed(2)%></td>
                                <td class="text-center"><label><input type="checkbox" name="payoff" id="<%=count%>" onchange="calcNewDebit(this.id);"> Ναι</label></td>
                                <td class="text-center"><input type='text' name="extraPayoff" id="g-<%=count%>" onchange="calcExtraPayoff(this.id);" value='<%=flatHeatCount.extraPayoff.toFixed(2)%>'></td>
                                <td class="text-center"><input type='text' name="balance" value='<%=flatsShownNav[count].balance.toFixed(2)%>' readonly></td>
                                <td><input class=form-control" type="hidden" name="flat" value="<%=flatsShownNav[count]._id%>"></td>
                            </tr>
                            <%count+=1%>
                        <%})%>
                    </tbody>
                    </table>
                    <%}%>
                <div class="text-center">
                    <button id='search' type="button" class="btn btn-primary" onclick="window.location='/users/paymentControl';">Νέα Αναζήτηση</button>
                    <button id='btnSubmit' type="submit" class="btn btn-primary">Καταχώρηση</button>
                </div>
                <%}else {%>
                <div class="text-center">
                    <button id='btnSubmit' type="submit" class="btn btn-primary">Αναζήτηση</button>
                </div>
                <%}%><!-- end of if totalExpenses -->
            </form>
            <%if(results!==''){%>
                <p class="list-group-item list-group-item-danger"><%=results%></p>
            <%}%>
        </div>
    </div>
</div>

<script>

    <%if(expenses){%>
        var removeYear=document.getElementById('year');
        var removeMonth=document.getElementById('month');
        removeYear.parentNode.removeChild(removeYear);//Remove div year from submit
        removeMonth.parentNode.removeChild(removeMonth); //Remove div month from submit
        document.getElementById('textId').innerHTML='ΈΛΕΓΧΟΣ ΠΛΗΡΩΜΩΝ <br> <br> ΜΗΝΑΣ: <%=expenses.month%> - ΈΤΟΣ : <%=expenses.year%>';
        var checkPayoff= document.getElementsByName('payoff');
        var count=0;
        <%  flatHeatCount.forEach(function( flatHeatCount){ %>
               <%if(flatHeatCount.payoff){%>
                    checkPayoff[count].checked=true;
                <%}else{%>
                    checkPayoff[count].checked=false;
                <%}%>
            count++;
        <%})%>
    <%}%>

    function checkPayoffChecked(){
            var checkPayoff= document.getElementsByName('payoff');
            if(checkPayoff){
                for(var i=0;i<checkPayoff.length;i++){
                    if(checkPayoff[i].checked){
                        checkPayoff[i].value='true';
                    }else{
                        checkPayoff[i].value='false';
                        checkPayoff[i].type='hidden';
                    }
                }
            }
    }

    function calcNewDebit(elemId) {

        var checkPayoff = document.getElementsByName('payoff');
        var balance = document.getElementsByName('balance');
        var monthDebit = document.getElementsByName('monthDebit');
        var temp;

            if (checkPayoff[elemId].checked) {
                temp =Number(balance[elemId].value)- Number(monthDebit[elemId].innerHTML);
                balance[elemId].value=temp.toFixed(2);
            } else {
                temp=Number(balance[elemId].value)+ Number(monthDebit[elemId].innerHTML);
                balance[elemId].value=temp.toFixed(2);
            }

    }//End of function calcNewDebit

    function calcExtraPayoff(elemId) {
        elemId=elemId.slice(2);

        var balance = document.getElementsByName('balance');
        var extraPayoff = document.getElementsByName('extraPayoff');
        var temp;

            temp =Number(balance[elemId].value)- Number(extraPayoff[elemId].value);
            balance[elemId].value=temp.toFixed(2);


    }//End of function calcNewDebit



</script>

<% include templates/footer.ejs %>
</body>

</html>
