<% include templates/header.ejs %>
<body>

<div class="container">
    <% include templates/body.ejs %>
    <div class="row content">
        <% include templates/navbar.ejs %>
        <div class="col-sm-9">
            <h4 id="h4">Αποτελέσματα</h4>
            <form class="form-horizontal" method="post" action="/users/paymentControl">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="year">Έτος:</label>
                    <div class="col-sm-7">
                        <select class="form-control" name="year">
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="month">Μήνας:</label>
                    <div class="col-sm-7">
                        <select class="form-control" name="month">
                            <option>Ιανουάριος</option>
                            <option>Φεβρουάριος</option>
                            <option>Μάρτιος</option>
                            <option>Απρίλιος</option>
                            <option>Μάιος</option>
                            <option>Ιούνιος</option>
                            <option>Ιούλιος</option>
                            <option>Αύγουστος</option>
                            <option>Σεπτέμβριος</option>
                            <option>Οκτώβριος</option>
                            <option>Νοέμβριος</option>
                            <option>Δεκέμβριος</option>
                        </select>
                    </div>
                </div>
            <br>

                <%if(expenses){%><!-- Αν έχουμε έξοδα τότε εμφανίζονται όλοι οι πίνακες) -->
                    <h4 class="text-center">ΕΛΕΓΧΟΣ ΠΛΗΡΩΜΩΝ ΜΗΝΑ</h4>
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center">Διαμέρισμα</th>
                        <th class="text-center">Ποσό πληρωμής</th>
                        <th class="text-center">Εξώφληση</th>
                        <th class="text-center">Υπόλοιπο Για Πληρωμή</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% var count=0%>
                    <% if(flatHeatCount!='undefined'){ %>
                        <%  flatHeatCount.forEach(function( flatHeatCount){ %>
                            <tr>
                                <td class="text-center"><%=flatsShownNav[count].flatNum%></td>
                                <td class="text-center"><%=flatHeatCount.debit.toFixed(2)%></td>
                                <td class="text-center"><label><input type="checkbox" name="remember"> Ναι</label></td>
                                <td class="text-center"><input type='text' name="some" value='<%=flatsShownNav[count].balance.toFixed(2)%>'></td>
                                <td><input class=form-control" type="hidden" name="flat" value="<%=flatsShownNav[count]._id%>"></td>
                            </tr>
                            <%count+=1%>
                        <%})%>
                    </tbody>
                    </table>
                    <%}%>
                <%}%><!-- end of if totalExpenses -->
                <button type="submit" class="btn btn-primary">Αναζήτηση</button>
            </form>
            <%if(results!==''){%>
                <p class="list-group-item list-group-item-danger"><%=results%></p>
            <%}%>
        </div>
    </div>
</div>

<% include templates/footer.ejs %>
</body>

</html>
