<% include templates/header.ejs %>
<body>

<div class="container">
    <% include templates/body.ejs %>
    <div class="row content">
        <% include templates/navbar.ejs %>
        <div class="col-sm-9">
            <h4 id="h4">Αποτελέσματα</h4>
            <form class="form-horizontal" method="post" action="/users/resultsPerFlat">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="year">Έτος:</label>
                    <div class="col-sm-7">
                        <select class="form-control" name="year">
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="month">Μήνας:</label>
                    <div class="col-sm-7">
                        <select class="form-control" name="month">
                            <option>Ιανουάριος</option>
                            <option>Φεβρουάριος</option>
                            <option>Μάρτιος</option>
                            <option>Απρίλιος</option>
                            <option>Μάιος</option>
                            <option>Ιούνιος</option>
                            <option>Ιούλιος</option>
                            <option>Αύγουστος</option>
                            <option>Σεπτέμβριος</option>
                            <option>Οκτώβριος</option>
                            <option>Νοέμβριος</option>
                            <option>Δεκέμβριος</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Αναζήτηση</button>
            </form>
            <br>
<div id="printableArea">
    <%if(totalExpenses){%><!-- Αν έχουμε έξοδα τότε εμφανίζονται όλοι οι πίνακες) -->

    <% var count=0%>
    <% var sumΩixXil=0%>
    <% var sumeixfi=0%>
    <% var sumeixΩi=0%>

    <!-- Υπολογισμός του sumOf(Ωi x Χιλιοστά θέρμανσης) -->
    <!-- Εαν έχουμε έξοδα θέρμανσης και η θέρμανση δεν είναι κεντρική υπολόγισε sumΩixXil -->
    <%if(expenses['Πετρέλαιο/Αέριο'] && typeOfHeat!='Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά'){%>
        <% flatsShownNav.forEach(function( flatsShownNav){ %>
            <% sumΩixXil+= flatHeatCount[count].flatheatcount*flatsShownNav.koinratio %>
            <% sumeixfi+=flatsShownNav.ei*flatsShownNav.fi%>
            <% sumeixΩi+= flatsShownNav.ei*flatHeatCount[count].flatheatcount %>
            <%count+=1%>
        <%})%>
    <%}else {%><!-- Αλλιώς εαν δεν έχουμε έξοδα θέρμανσης το sumΩixXil ίσον με ένα γιατι αλλιώς διαιρεση με μηδεν προβλημα-->
        <% sumΩixXil=1%>
        <% sumeixfi=1%>
        <% sumeixΩi=1%>
    <%}%>

    <!--Ελέγχουμε αν έχουμε έξοδα θέρμανσης με μηδενικές μονάδες έχει να κάνει με το πάγιο του αερίου το καλοκαίρι -->
    <% var flatCheck%>
    <% var flag=0%>
    <% if(sumΩixXil===0){%>
        <% flag=1%>
    <%}%>

    <% count=0%> <!-- Μηδενισμός του count για συνέχεια στον επόμενο υπολογισμό -->
        <%  flatsShownNav.forEach(function( flatsShownNav){ %>
    <!--Τσεκάρουμε για την περίπτωση που έχουμε εξοδο θέρμανσης αλλά είναι το καλοκαίρι πάγιο αερίου και δεν έχουμε μονάδες -->
    <%if(typeOfHeat!=='Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά'){%>
            <% flatCheck=flatHeatCount[count].flatheatcount%>
            <% if(flag){%>
                <%flatCheck=1%>
                <%sumΩixXil=1000%>
            <%}%>
    <%}%>
    <div style="page-break-after:always; background-color: AliceBlue; border:solid; margin-bottom: 10px;">
            <h4 class="text-center">ΕΙΔΟΠΟΙΗΤΗΡΙΟ ΕΞΟΦΛΗΣΗΣ ΚΟΙΝΟΧΡΗΣΤΩΝ</h4>
        <%if(comments){%>
            <h4 class="text-center">Διευκρινίσεις : <%= comments%></h4>
        <%}%>
                <h4 class="text-center" style="white-space: pre-wrap; margin-bottom: 0px;">Διαμέρισμα: <%=flatsShownNav.flatNum%>       <%=flatsShownNav.lastname%>     Μήνας: <%= expenses['Μήνας']%>      Έτος: <%= expenses['Έτος']%></h4>
                <hr style="border-width: 1px; margin-top: 0px; border-color:black;">
                <table class="table table-bordered">
                    <thead bgcolor="#ffba66">
                        <tr>
                            <th>'Εξοδα</th>
                            <th>Ποσό</th>
                            <th>Συντελεστής Επιβάρυνσης</th>
                            <th>Επιβάρυνση Διαμερίσματος</th>
                        </tr>
                    </thead>
                    <%var ownerSharedExpenses=0%><!-- Έξοδα ιδιοκτήτη αποθεματικο -->
                    <%var ownerHeatExpenses=0%><!-- Έξοδα ιδιοκτήτη επισκευη θέρμανσης -->
                    <%var ownerliftExpenses=0%><!-- Έξοδα ιδιοκτήτη επισκευή ασανσερ -->

                    <% var koinExpenses=0%>
                    <tbody><!-- Έξοδα σχετικά με τα κοινόχρηστα -->
                        <% for(var key in expenses) {%>
                            <% if(expenses.hasOwnProperty(key)){%>
                                <% if(expenses[key]!=null && key!= 'Έτος' && key!= 'Μήνας' &&
                                        key!=='Ασανσέρ Συντήρηση' &&
                                        key!=='Ασανσέρ Ανταλ. Επισκευή' &&
                                        key!=='Πετρέλαιο/Αέριο' &&
                                        key!=='Συντήρηση Καυστήρα/Λέβητα' &&
                                        key!=='Επισκευή Καυστήρα/Λέβητα'){%>
                                    <tr>
                                        <td><%=key%></td>
                                        <td class="text-right"><%= expenses[key].toFixed(2)%></td>
                                    </tr>
                                     <%koinExpenses+=expenses[key]%>
                                    <%if(key==='Αποθεματικό'){%>
                                        <%ownerSharedExpenses=expenses[key]%>
                                    <%}%>
                                <%}%>
                            <%}%><!-- End of if expenses unique property key -->
                        <%}%><!-- End of for loop -->
                    <tr bgcolor="#ffba66">
                        <th>Σύνολο Κοινοχρήστων</th>
                        <th class="text-right"><%= koinExpenses.toFixed(2)%></th>
                        <th class="text-center"><%=(flatsShownNav.koinratio/1000).toFixed(2)%></th>
                        <th class="text-center"><%=(flatsShownNav.koinratio/1000 * koinExpenses).toFixed(2)%></th>
                    </tr>
                    </tbody>

                    <% var heatExpenses=0%>
                    <tbody><!-- Έξοδα σχετικά με την θέρμανση -->
                    <% for(var key in expenses) {%>
                        <% if(expenses.hasOwnProperty(key)){%>
                            <% if((expenses[key]!=null && key!= 'Έτος' && key!= 'Μήνας' && key==='Πετρέλαιο/Αέριο') ||
                                    (expenses[key]!=null && key!= 'Έτος' && key!= 'Μήνας' && key==='Συντήρηση Καυστήρα/Λέβητα') ||
                                    (expenses[key]!=null && key!= 'Έτος' && key!= 'Μήνας' && key==='Επισκευή Καυστήρα/Λέβητα')){%>
                                <tr>
                                    <%if(key==='Πετρέλαιο/Αέριο' && typeOfHeat!=='Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά'){%>
                                        <%if(typeOfHeat==='Αυτόνομη Θέρμανση με ωρομέτρηση και χιλιοστά'){%>
                                        <td><%=key%></td>
                                        <td class="text-right"><%= ((100-blockHeatFixed)*expenses[key]/100).toFixed(2)%></td>
                                        <td class="text-center"><%= ((flatsShownNav.koinratio*flatCheck)/sumΩixXil).toFixed(4) %></td>
                                        <td class="text-center"><%= ((flatsShownNav.koinratio*flatCheck*(100-blockHeatFixed)*expenses['Πετρέλαιο/Αέριο']/100)/sumΩixXil).toFixed(2) %></td>
                                        <tr>
                                            <td>Πάγιο Θέρμανσης</td>
                                            <td class="text-right"><%= (blockHeatFixed*expenses[key]/100).toFixed(2)%></td>
                                            <td class="text-center"><%=blockHeatFixed%>%</td>
                                            <td class="text-center"><%= ((flatsShownNav.koinratio*blockHeatFixed*expenses['Πετρέλαιο/Αέριο']/100)/1000).toFixed(2) %></td>
                                        </tr>
                                        <%}else {%><!-- αλλιώς είναι Αυτόνομη Θέρμανση με ωρομέτρηση και θερμικές απώλειες -->
                                        <td><%=key%></td>
                                        <td class="text-right"><%=((1-sumeixfi)*expenses[key]).toFixed(2)%></td>
                                        <td class="text-center"><%= ((flatsShownNav.ei*flatHeatCount[count].flatheatcount/sumeixΩi)).toFixed(4) %></td>
                                        <td class="text-center"><%= ((flatsShownNav.ei*flatHeatCount[count].flatheatcount/sumeixΩi)*(1-sumeixfi)*expenses[key]).toFixed(2) %></td>
                                        <tr>
                                            <td>Πάγιο Θέρμανσης</td>
                                            <td class="text-right"><%= (sumeixfi*expenses[key]).toFixed(2)%></td>
                                            <td class="text-center"><%= (flatsShownNav.ei*flatsShownNav.fi/sumeixfi).toFixed(4)%></td>
                                            <td class="text-center"><%= ((flatsShownNav.ei*flatsShownNav.fi/sumeixfi)*sumeixfi*expenses[key]).toFixed(2) %></td>
                                        </tr>
                                        <%}%>

                    <!--∆απάνες λειτουργίας,(καύσιμο και προληπτική συντήρηση της εγκατάστασης).
                    Έκτακτες δαπάνες,(αντικαταστάσεις θερμαντικών σωμάτων,άλλες αντικαταστάσεις,βελτιώσεις,εκσυγχρονισμός και αποκατάσταση ζημιών σε οποιοδήποτε μέρος του
                    συστήματος κεντρικής θέρμανσης κ.ά.).
                    Οι υπολογισμοί που προηγήθηκαν αφορούσαν την κατανομή της δαπάνης προμήθειας καυσίμου θέρμανσης (πετρελαίου, φυσικού αερίου, κλπ),
                    οι οποίες βαρύνουν αυτούς που έχουν τη χρήση του διαμερίσματος (ένοικοι/ενοικιαστές).
                    Στον Ν.1512/1985 και στον Τεχνικό Κανονισμό Κατανομής Δαπανών Κεντρικής Θέρμανσης εισάγεται η έννοια των εκτάκτων δαπανών
                    (αντικαταστάσεις, βελτιώσεις, εκσυγχρονισμός και αποκατάσταση ζημιών σε οποιοδήποτε κοινόχρηστο μέρος του συστήματος κεντρικής θέρμανσης κ.λ.π.)
                    με τις οποίες βαρύνονται οι ιδιοκτήτες των διαμερισμάτων.Στις έκτακτες δαπάνες συμμετέχουν κανονικά και τα κλειστά διαμερίσματα.
                     ο συντελεστής επιβαρύνσεων του διαμερίσματος i, όπως προσδιορίζεται στην μελέτη θέρμανσης -->

                                    <%}else if(key==='Συντήρηση Καυστήρα/Λέβητα' && typeOfHeat!=='Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά'){%>
                                        <%if(typeOfHeat==='Αυτόνομη Θέρμανση με ωρομέτρηση και χιλιοστά'){%>
                                            <td><%=key%></td>
                                            <td class="text-right"><%= expenses[key].toFixed(2)%></td>
                                            <td class="text-center"><%=(flatsShownNav.flatxil/1000).toFixed(3)%></td>
                                            <td class="text-center"><%= (expenses[key]*flatsShownNav.flatxil/1000).toFixed(2) %></td>
                                        </tr>
                                        <%}else {%><!-- αλλιώς είναι Αυτόνομη Θέρμανση με ωρομέτρηση και θερμικές απώλειες -->
                                            <td><%=key%></td>
                                            <td class="text-right"><%= expenses[key].toFixed(2)%></td>
                                            <td class="text-center"><%=(flatsShownNav.ei).toFixed(4)%></td>
                                            <td class="text-center"><%= (flatsShownNav.ei*expenses[key]).toFixed(2) %></td>
                                        </tr>
                                        <%}%>
                                    <%}else if(key==='Επισκευή Καυστήρα/Λέβητα' && typeOfHeat!=='Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά'){%>
                                        <%if(typeOfHeat==='Αυτόνομη Θέρμανση με ωρομέτρηση και χιλιοστά'){%>
                                            <td><%=key%></td>
                                            <td class="text-right"><%= expenses[key].toFixed(2)%></td>
                                            <td class="text-center"><%=(flatsShownNav.flatxil/1000).toFixed(3)%></td>
                                            <td class="text-center"><%= (expenses[key]*flatsShownNav.flatxil/1000).toFixed(2) %></td>
                                        </tr>
                                        <%}else {%><!-- αλλιώς είναι Αυτόνομη Θέρμανση με ωρομέτρηση και θερμικές απώλειες -->
                                            <td><%=key%></td>
                                            <td class="text-right"><%= expenses[key].toFixed(2)%></td>
                                            <td class="text-center"><%=(flatsShownNav.ei).toFixed(4)%></td>
                                            <td class="text-center"><%= (flatsShownNav.ei*expenses[key]).toFixed(2) %></td>
                                        </tr>
                                        <%}%>
                                    <%}else {%>
                                        <td><%=key%></td>
                                        <td class="text-right"><%= expenses[key].toFixed(2)%></td>
                                    <%}%>
                                </tr>
                                <%heatExpenses+=expenses[key]%>
                                <%if(key==='Επισκευή Καυστήρα/Λέβητα'){%>
                                    <%ownerHeatExpenses=expenses[key]%>
                                <%}%>
                            <%}%>
                        <%}%><!-- End of if expenses unique property key -->
                    <%}%><!-- End of for loop -->
                    <%if(heatExpenses!==0){%>
                    <tr bgcolor="#ffba66">
                        <%if(typeOfHeat==='Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά'){%>
                            <th>Σύνολο Θέρμανσης</th>
                            <th class="text-right"><%= heatExpenses.toFixed(2)%></th>
                            <th class="text-center"><%=(flatsShownNav.flatxil/1000).toFixed(2)%></th>
                            <th class="text-center"><%=(flatsShownNav.flatxil/1000 *heatExpenses).toFixed(2)%></th>

                        <%}else if(typeOfHeat==='Αυτόνομη Θέρμανση με ωρομέτρηση και χιλιοστά'){%>
                            <th>Σύνολο Θέρμανσης</th>
                            <th class="text-right"><%= heatExpenses.toFixed(2)%></th>
                            <th class="text-center"></th>
                            <th class="text-center"><%=(((flatsShownNav.koinratio*flatCheck*(100-blockHeatFixed)*expenses['Πετρέλαιο/Αέριο']/100)/sumΩixXil)+
                                ((flatsShownNav.koinratio*blockHeatFixed*expenses['Πετρέλαιο/Αέριο']/100)/1000)+
                                (expenses['Συντήρηση Καυστήρα/Λέβητα']*flatsShownNav.flatxil/1000)+
                                (expenses['Επισκευή Καυστήρα/Λέβητα']*flatsShownNav.flatxil/1000)).toFixed(2) %></th>

                        <%}else if(typeOfHeat==='Αυτόνομη Θέρμανση με ωρομέτρηση και συντελεστές ei fi'){%>
                            <th>Σύνολο Θέρμανσης</th>
                            <th class="text-right"><%= heatExpenses.toFixed(2)%></th>
                            <th class="text-center"></th>
                            <th class="text-center"><%=((flatsShownNav.ei*flatHeatCount[count].flatheatcount/sumeixΩi)*(1-sumeixfi)*expenses['Πετρέλαιο/Αέριο']+
                                (flatsShownNav.ei*flatsShownNav.fi/sumeixfi)*sumeixfi*expenses['Πετρέλαιο/Αέριο']+
                                (flatsShownNav.ei*expenses['Συντήρηση Καυστήρα/Λέβητα'])+
                                (flatsShownNav.ei*expenses['Επισκευή Καυστήρα/Λέβητα'])).toFixed(2) %></th>
                        <%}%>
                    <%}%>
                    </tr>
                    </tbody>

                    <% var liftExpenses=0%><!--Σύνολο εξόδων σχετικά με το ασανσερ -->
                    <tbody><!-- Έξοδα σχετικά με το ασανσερ -->
                    <% for(var key in expenses) {%>
                        <% if(expenses.hasOwnProperty(key)){%>
                            <% if((expenses[key]!=null && key!= 'Έτος' && key!= 'Μήνας' && key==='Ασανσέρ Συντήρηση') || (expenses[key]!=null && key!= 'Έτος' && key!= 'Μήνας' && key==='Ασανσέρ Ανταλ. Επισκευή')){%>
                                <tr>
                                    <td><%=key%></td>
                                    <td class="text-right"><%= expenses[key].toFixed(2)%></td>
                                </tr>
                                <%liftExpenses+=expenses[key]%>
                                <%if(key==='Ασανσέρ Ανταλ. Επισκευή'){%>
                                    <%ownerliftExpenses=expenses[key]%>
                                <%}%>
                            <%}%>
                        <%}%><!-- End of if expenses unique property key -->
                    <%}%><!-- End of for loop -->
                    <%if(liftExpenses!==0){%>
                        <tr bgcolor="#ffba66">
                            <th>Σύνολο Ασανσερ</th>
                            <th class="text-right"><%= liftExpenses.toFixed(2)%></th>
                            <th class="text-center"><%=(flatsShownNav.liftratio/1000).toFixed(2)%></th>
                            <th class="text-center"><%=(flatsShownNav.liftratio/1000 *liftExpenses).toFixed(2) %></th>
                        </tr>
                    <%}%>
                    </tbody>
                </table>
<br>

<table class="table table-bordered">
    <thead bgcolor="#ffba66">
    <tr>
        <th>Ονομα Διαχειριστή</th>
        <th>Συνολικά Έξοδα πολυκατοικίας</th>
        <th>Έξοδα Ιδιοκτήτη</th>
        <th>Έξοδα Ενοικιαστή</th>
        <th>Σύνολο Διαμερίσματος</th>
    </tr>
    </thead>
    <tbody>
    <td><%=nameRes%></td>
    <td class="text-right"><%=totalExpenses.toFixed(2)%></td>
    <%if(typeOfHeat==='Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά'){%>
        <td class="text-right"><%=(ownerSharedExpenses*flatsShownNav.koinratio/1000+ownerHeatExpenses*flatsShownNav.flatxil/1000+ownerliftExpenses*flatsShownNav.liftratio/1000).toFixed(2)%></td>
        <td class="text-right"><%=((koinExpenses*flatsShownNav.koinratio/1000+heatExpenses*flatsShownNav.flatxil/1000+liftExpenses*flatsShownNav.liftratio/1000)-
            (ownerSharedExpenses*flatsShownNav.koinratio/1000+ownerHeatExpenses*flatsShownNav.flatxil/1000+ownerliftExpenses*flatsShownNav.liftratio/1000)).toFixed(2)%></td>
        <td class="text-right"><%=(koinExpenses*flatsShownNav.koinratio/1000+heatExpenses*flatsShownNav.flatxil/1000+liftExpenses*flatsShownNav.liftratio/1000).toFixed(2)%></td>

    <%}else if(typeOfHeat==='Αυτόνομη Θέρμανση με ωρομέτρηση και χιλιοστά'){%>
        <td class="text-right"><%=(ownerSharedExpenses*flatsShownNav.koinratio/1000+ownerHeatExpenses*flatsShownNav.flatxil/1000+ownerliftExpenses*flatsShownNav.liftratio/1000).toFixed(2)%></td>
        <td class="text-right"><%=((koinExpenses*flatsShownNav.koinratio/1000+
            ((flatsShownNav.koinratio*flatCheck*(100-blockHeatFixed)*expenses['Πετρέλαιο/Αέριο']/100)/sumΩixXil)+
            ((flatsShownNav.koinratio*blockHeatFixed*expenses['Πετρέλαιο/Αέριο']/100)/1000)+
            (expenses['Συντήρηση Καυστήρα/Λέβητα']*flatsShownNav.flatxil/1000)+
            (expenses['Επισκευή Καυστήρα/Λέβητα']*flatsShownNav.flatxil/1000)+
            liftExpenses*flatsShownNav.liftratio/1000)-
            (ownerSharedExpenses*flatsShownNav.koinratio/1000+ownerHeatExpenses*flatsShownNav.flatxil/1000+ownerliftExpenses*flatsShownNav.liftratio/1000)).toFixed(2)%></td>
        <td class="text-right"><%=(koinExpenses*flatsShownNav.koinratio/1000+
            ((flatsShownNav.koinratio*flatCheck*(100-blockHeatFixed)*expenses['Πετρέλαιο/Αέριο']/100)/sumΩixXil)+
            ((flatsShownNav.koinratio*blockHeatFixed*expenses['Πετρέλαιο/Αέριο']/100)/1000)+
            (expenses['Συντήρηση Καυστήρα/Λέβητα']*flatsShownNav.flatxil/1000)+
            (expenses['Επισκευή Καυστήρα/Λέβητα']*flatsShownNav.flatxil/1000)+
            liftExpenses*flatsShownNav.liftratio/1000).toFixed(2)%></td>

    <%}else if(typeOfHeat==='Αυτόνομη Θέρμανση με ωρομέτρηση και συντελεστές ei fi'){%>
        <td class="text-right"><%=(ownerSharedExpenses*flatsShownNav.koinratio/1000+ownerHeatExpenses*flatsShownNav.ei+ownerliftExpenses*flatsShownNav.liftratio/1000).toFixed(2)%></td>
        <td class="text-right"><%=((koinExpenses*flatsShownNav.koinratio/1000+
            (flatsShownNav.ei*flatHeatCount[count].flatheatcount/sumeixΩi)*(1-sumeixfi)*expenses['Πετρέλαιο/Αέριο']+
            (flatsShownNav.ei*flatsShownNav.fi/sumeixfi)*sumeixfi*expenses['Πετρέλαιο/Αέριο']+
            flatsShownNav.ei*expenses['Συντήρηση Καυστήρα/Λέβητα']+
            flatsShownNav.ei*expenses['Επισκευή Καυστήρα/Λέβητα']+
            liftExpenses*flatsShownNav.liftratio/1000)-
            (ownerSharedExpenses*flatsShownNav.koinratio/1000+ownerHeatExpenses*flatsShownNav.ei+ownerliftExpenses*flatsShownNav.liftratio/1000)).toFixed(2)%></td>
        <td class="text-right"><%=(koinExpenses*flatsShownNav.koinratio/1000+
            (flatsShownNav.ei*flatHeatCount[count].flatheatcount/sumeixΩi)*(1-sumeixfi)*expenses['Πετρέλαιο/Αέριο']+
            (flatsShownNav.ei*flatsShownNav.fi/sumeixfi)*sumeixfi*expenses['Πετρέλαιο/Αέριο']+
            flatsShownNav.ei*expenses['Συντήρηση Καυστήρα/Λέβητα']+
            flatsShownNav.ei*expenses['Επισκευή Καυστήρα/Λέβητα']+
            liftExpenses*flatsShownNav.liftratio/1000).toFixed(2)%></td>
    <%}%>
    </tbody>
</table>

    <hr style="border-top: 3px dotted black; margin-top: 0px;">
    <h4 class="text-center">ΑΠΟΔΕΙΞΗ ΕΞΟΦΛΗΣΗΣ ΚΟΙΝΟΧΡΗΣΤΩΝ</h4>
    <h4 class="text-center" style="white-space: pre-wrap; margin-bottom: 0px;">Διαμέρισμα: <%=flatsShownNav.flatNum%>       <%=flatsShownNav.lastname%>     Μήνας: <%= expenses['Μήνας']%>      Έτος: <%= expenses['Έτος']%></h4>
    <hr style="border-width: 1px; margin-top: 0px; border-color:black;">
<table class="table table-bordered">
    <thead bgcolor="#ffba66">
    <tr>
        <th>Ονομα Διαχειριστή</th>
        <th>Συνολικά Έξοδα πολυκατοικίας</th>
        <th>Έξοδα Ιδιοκτήτη</th>
        <th>Έξοδα Ενοικιαστή</th>
        <th>Σύνολο Διαμερίσματος</th>
    </tr>
    </thead>
    <tbody>
        <td><%=nameRes%></td>
        <td class="text-right"><%=totalExpenses.toFixed(2)%></td>
        <%if(typeOfHeat==='Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά'){%>
        <td class="text-right"><%=(ownerSharedExpenses*flatsShownNav.koinratio/1000+ownerHeatExpenses*flatsShownNav.flatxil/1000+ownerliftExpenses*flatsShownNav.liftratio/1000).toFixed(2)%></td>
        <td class="text-right"><%=((koinExpenses*flatsShownNav.koinratio/1000+heatExpenses*flatsShownNav.flatxil/1000+liftExpenses*flatsShownNav.liftratio/1000)-
            (ownerSharedExpenses*flatsShownNav.koinratio/1000+ownerHeatExpenses*flatsShownNav.flatxil/1000+ownerliftExpenses*flatsShownNav.liftratio/1000)).toFixed(2)%></td>
        <td class="text-right"><%=(koinExpenses*flatsShownNav.koinratio/1000+heatExpenses*flatsShownNav.flatxil/1000+liftExpenses*flatsShownNav.liftratio/1000).toFixed(2)%></td>

        <%}else if(typeOfHeat==='Αυτόνομη Θέρμανση με ωρομέτρηση και χιλιοστά'){%>
        <td class="text-right"><%=(ownerSharedExpenses*flatsShownNav.koinratio/1000+ownerHeatExpenses*flatsShownNav.flatxil/1000+ownerliftExpenses*flatsShownNav.liftratio/1000).toFixed(2)%></td>
        <td class="text-right"><%=((koinExpenses*flatsShownNav.koinratio/1000+
            ((flatsShownNav.koinratio*flatCheck*(100-blockHeatFixed)*expenses['Πετρέλαιο/Αέριο']/100)/sumΩixXil)+
            ((flatsShownNav.koinratio*blockHeatFixed*expenses['Πετρέλαιο/Αέριο']/100)/1000)+
            (expenses['Συντήρηση Καυστήρα/Λέβητα']*flatsShownNav.flatxil/1000)+
            (expenses['Επισκευή Καυστήρα/Λέβητα']*flatsShownNav.flatxil/1000)+
            liftExpenses*flatsShownNav.liftratio/1000)-
            (ownerSharedExpenses*flatsShownNav.koinratio/1000+ownerHeatExpenses*flatsShownNav.flatxil/1000+ownerliftExpenses*flatsShownNav.liftratio/1000)).toFixed(2)%></td>
        <td class="text-right"><%=(koinExpenses*flatsShownNav.koinratio/1000+
            ((flatsShownNav.koinratio*flatCheck*(100-blockHeatFixed)*expenses['Πετρέλαιο/Αέριο']/100)/sumΩixXil)+
            ((flatsShownNav.koinratio*blockHeatFixed*expenses['Πετρέλαιο/Αέριο']/100)/1000)+
            (expenses['Συντήρηση Καυστήρα/Λέβητα']*flatsShownNav.flatxil/1000)+
            (expenses['Επισκευή Καυστήρα/Λέβητα']*flatsShownNav.flatxil/1000)+
            liftExpenses*flatsShownNav.liftratio/1000).toFixed(2)%></td>

        <%}else if(typeOfHeat==='Αυτόνομη Θέρμανση με ωρομέτρηση και συντελεστές ei fi'){%>
        <td class="text-right"><%=(ownerSharedExpenses*flatsShownNav.koinratio/1000+ownerHeatExpenses*flatsShownNav.ei+ownerliftExpenses*flatsShownNav.liftratio/1000).toFixed(2)%></td>
        <td class="text-right"><%=((koinExpenses*flatsShownNav.koinratio/1000+
            (flatsShownNav.ei*flatHeatCount[count].flatheatcount/sumeixΩi)*(1-sumeixfi)*expenses['Πετρέλαιο/Αέριο']+
            (flatsShownNav.ei*flatsShownNav.fi/sumeixfi)*sumeixfi*expenses['Πετρέλαιο/Αέριο']+
            flatsShownNav.ei*expenses['Συντήρηση Καυστήρα/Λέβητα']+
            flatsShownNav.ei*expenses['Επισκευή Καυστήρα/Λέβητα']+
            liftExpenses*flatsShownNav.liftratio/1000)-
            (ownerSharedExpenses*flatsShownNav.koinratio/1000+ownerHeatExpenses*flatsShownNav.ei+ownerliftExpenses*flatsShownNav.liftratio/1000)).toFixed(2)%></td>
        <td class="text-right"><%=(koinExpenses*flatsShownNav.koinratio/1000+
            (flatsShownNav.ei*flatHeatCount[count].flatheatcount/sumeixΩi)*(1-sumeixfi)*expenses['Πετρέλαιο/Αέριο']+
            (flatsShownNav.ei*flatsShownNav.fi/sumeixfi)*sumeixfi*expenses['Πετρέλαιο/Αέριο']+
            flatsShownNav.ei*expenses['Συντήρηση Καυστήρα/Λέβητα']+
            flatsShownNav.ei*expenses['Επισκευή Καυστήρα/Λέβητα']+
            liftExpenses*flatsShownNav.liftratio/1000).toFixed(2)%></td>
        <%}%>
    </tbody>
</table>
    </div>
    <%count+=1%>
        <%})%><!-- end of loop on flats -->
    <%}%><!-- end of if totalExpenses -->
</div><!--End of printable Area -->

<%if(results!==''){%>
    <p class="list-group-item list-group-item-danger"><%=results%></p>
<%}%>

<h3 align="right">
    <a onclick="printDiv('printableArea')" href="#print">
        <span class="glyphicon glyphicon-print"></span>
    </a>
</h3>
        </div>
    </div>
</div>

<% include templates/footer.ejs %>
</body>

</html>
