<% include templates/header.ejs %>
<body>

<div class="container">
    <% include templates/body.ejs %>
    <div class="row content">
        <% include templates/navbar.ejs %>
        <div class="col-sm-9">
            <h4 id="h4">Αποτελέσματα</h4>
            <form class="form-horizontal" method="post" action="/users/results">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="year">Έτος:</label>
                    <div class="col-sm-7">
                        <select class="form-control" name="year">
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="month">Μήνας:</label>
                    <div class="col-sm-7">
                        <select class="form-control" name="month">
                            <option>Ιανουάριος</option>
                            <option>Φεβρουάριος</option>
                            <option>Μάρτιος</option>
                            <option>Απρίλιος</option>
                            <option>Μάιος</option>
                            <option>Ιούνιος</option>
                            <option>Ιούλιος</option>
                            <option>Αύγουστος</option>
                            <option>Σεπτέμβριος</option>
                            <option>Οκτώβριος</option>
                            <option>Νοέμβριος</option>
                            <option>Δεκέμβριος</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Αναζήτηση</button>
                </form>
            <br>
            <h4 class="text-center">ΣΥΓΚΕΝΤΡΩΤΙΚΗ ΚΑΤΑΣΤΑΣΗ ΚΟΙΝΟΧΡΗΣΤΩΝ ΔΑΠΑΝΩΝ</h4>
            <%if(totalExpenses){%>
                    <h4 class="text-center">Μήνας: <%= expenses['Μήνας']%> - Έτος: <%= expenses['Έτος']%></h4>
            <%}%>

            <%if(totalExpenses){%>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>'Εξοδα</th>
                    <th>Ποσό</th>
                </tr>
                </thead>
                <tbody>
                <% for(var key in expenses) {%>
                <% if(expenses.hasOwnProperty(key)){%>
                <% if(expenses[key]!=null && key!= 'Έτος' && key!= 'Μήνας'){%>
                <tr>
                    <td><%=key%></td>
                    <td><%=expenses[key]%></td>
                </tr>
                <%}%>
                <%}%>
                <%}%>
                <tr>
                    <th>Σύνολο Εξόδων</th>
                    <th><%= totalExpenses%></th>
                </tr>

                </tbody>
            </table>
            <%}%>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center" colspan="2"></th>
                    <th class="text-center" colspan="3">ΧΙΛΙΙΟΣΤΑ ΕΠΙΒΑΡΥΝΣΕΙΣ</th>
                    <th class="text-center" colspan="6">ΕΠΙΒΑΡΥΝΣΕΙΣ ΣΕ ΕΥΡΩ</th>
                </tr>

                <tr>
                    <th>ΑΑ</th>
                    <th>Επώνυμο</th>
                    <th>Κοινοχρήστων</th>
                    <th>Ασανσέρ</th>
                    <th>Θέρμανσης</th>
                    <th>Κοινόχρηστα</th>
                    <th>Ασανσέρ</th>
                    <th>Θέρμανση</th>
                    <th>Πάγιο Θέρμασνης</th>
                    <th>Ιδιοκτητών</th>
                    <th>Σύνολο</th>
                </tr>
                </thead>
                <tbody>
            <% if(typeof flatsShownNav !== 'undefined'){ %>
            <% var totalExpKoin=0 %>
            <% var totalExpLift=0 %>
                <%  flatsShownNav.forEach(function( flatsShownNav){ %>
                <tr>
                    <td><%=  flatsShownNav.flatNum %></td>
                    <td><%=  flatsShownNav.lastname %></td>
                    <td class="text-center"><%=  flatsShownNav.koinratio %></td>
                    <td class="text-center"><%=  flatsShownNav.liftratio %></td>
                    <td class="text-center"><%=  flatsShownNav.flatxil %></td>
                    <td class="text-center"><%=  ((flatsShownNav.koinratio*totalExpenses)/1000).toFixed(2) %></td>
                    <td class="text-center"><%=  ((flatsShownNav.liftratio*totalExpenses)/1000).toFixed(2) %></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            <% totalExpKoin+=((flatsShownNav.koinratio*totalExpenses)/1000)%>
            <% totalExpLift+=((flatsShownNav.liftratio*totalExpenses)/1000)%>

                <% }) %>
            <%var totalKin= 0%>
            <%var totalLift= 0%>
            <%var totalXil= 0%>
            <%  flatsShownNav.forEach(function( flatsShownNav){ %>
            <% totalKin+=flatsShownNav.koinratio%>
            <% totalLift+=flatsShownNav.liftratio%>
            <% totalXil+=flatsShownNav.flatxil%>

            <%})%>

            <tr>
                <th class="text-center" colspan="2">Σύνολα</th>
                <th class="text-center"><%= totalKin%></th>
                <th class="text-center"><%= totalLift%></th>
                <th class="text-center"><%= totalXil%></th>
                <th class="text-center"><%= totalExpKoin%></th>
                <th class="text-center"><%= totalExpLift%></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <%}%>
                </tbody>
            </table>
        </div>
    </div>
</div>

<% include templates/footer.ejs %>
</body>

</html>