<% include templates/header.ejs %>
<body>

<div class="container">
    <% include templates/body.ejs %>
    <div class="row content">
        <% include templates/navbar.ejs %>
        <div class="col-sm-9">
            <h4 id="h4">Αποτελέσματα</h4>
            <form class="form-horizontal" method="post" action="/users/results">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="year">Έτος:</label>
                    <div class="col-sm-7">
                        <select class="form-control" name="year">
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="month">Μήνας:</label>
                    <div class="col-sm-7">
                        <select class="form-control" name="month">
                            <option>Ιανουάριος</option>
                            <option>Φεβρουάριος</option>
                            <option>Μάρτιος</option>
                            <option>Απρίλιος</option>
                            <option>Μάιος</option>
                            <option>Ιούνιος</option>
                            <option>Ιούλιος</option>
                            <option>Αύγουστος</option>
                            <option>Σεπτέμβριος</option>
                            <option>Οκτώβριος</option>
                            <option>Νοέμβριος</option>
                            <option>Δεκέμβριος</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Αναζήτηση</button>
            </form>
            <br>
         <div id="printableArea">
         <%if(totalExpenses){%><!-- Αν έχουμε έξοδα τότε εμφανίζονται όλοι οι πίνακες) -->
            <h4 class="text-center">ΣΥΓΚΕΝΤΡΩΤΙΚΗ ΚΑΤΑΣΤΑΣΗ ΚΟΙΝΟΧΡΗΣΤΩΝ ΔΑΠΑΝΩΝ</h4>
            <h4 class="text-center">Μήνας: <%= expenses['Μήνας']%> - Έτος: <%= expenses['Έτος']%></h4>
             <%if(comments){%>
             <h4 class="text-center">Διευκρινίσεις : <%= comments%></h4>
             <%}%>
            <table class="table table-bordered table-hover" style="width:50%;">
                <thead bgcolor="LightGray">
                <tr>
                    <th class="text-center">'Εξοδα</th>
                    <th class="text-center">Ποσό</th>
                </tr>
                </thead>
                <tbody>
                <!--Ανάλυση των εξόδων -->
                <% for(var key in expenses) {%>
                    <% if(expenses.hasOwnProperty(key)){%>
                        <% if(expenses[key]!=null && key!= 'Έτος' && key!= 'Μήνας' && key!='Περιγραφή εξόδου'){%>
                            <tr>
                                <%if(key==='Πετρέλαιο/Αέριο' && typeOfHeat==='Αυτόνομη Θέρμανση με ωρομέτρηση και χιλιοστά'){%>
                                    <td><%=key%></td>
                                    <td class="text-right"><%= ((100-blockHeatFixed)*expenses[key]/100).toFixed(2)%></td>
                                    <tr>
                                        <td>Πάγιο Θέρμανσης</td>
                                        <td class="text-right"><%= (blockHeatFixed*expenses[key]/100).toFixed(2)%></td>
                                    </tr>
                                <%}else if(key==='Λοιπά έξοδα'){%><!--Αντί να γράφει λοιπα έξοδα το αντικαθστούμε με την περιγραφή του εξόδου-->
                                    <td><%=expenses['Περιγραφή εξόδου']%></td>
                                    <td class="text-right"><%= expenses[key].toFixed(2)%></td>
                                <%}else{%>
                                    <td><%=key%></td>
                                    <td class="text-right"><%= expenses[key].toFixed(2)%></td>
                                <%}%>
                            </tr>
                        <%}%>
                    <%}%>
                <%}%>

                <tr bgcolor="LightGray">
                    <th>Σύνολο Εξόδων</th>
                    <th class="text-right"><%= totalExpenses.toFixed(2)%></th>
                </tr>

                </tbody>
            </table>

            <table class="table table-bordered table-hover">
                <thead bgcolor="LightGray">
                <tr>
                    <th class="text-center" colspan="2"></th>
                    <th id="thXilId" class="text-center" colspan="3">ΧΙΛΙΟΣΤΑ ΕΠΙΒΑΡΥΝΣΕΙΣ</th>
                    <th id="thExpensesId" class="text-center" colspan="6">ΕΠΙΒΑΡΥΝΣΕΙΣ ΣΕ ΕΥΡΩ</th>
                </tr>
                <tr>
                    <th>ΑΑ</th>
                    <th>Επώνυμο</th>
                    <th style="white-space:nowrap;">Κοιν/στων</th><!-- βάζω style για να να μπει η παύλα -->
                    <th>Ασανσέρ</th>
                    <th id="thHeatCountId" class="text-center">Μονάδες Θέρ/σης</th>
                    <th style="white-space:nowrap;">Κοιν/στα</th>
                    <th>Ασανσέρ</th>
                    <th class="text-center">Θέρμανση Λειτουργία</th>
                    <th id="thFixedHeatId" class="text-center">Πάγιο Λειτουργίας + Δαπάνες</th>
                    <th>Σύνολο</th>
                </tr>
                </thead>
                <tbody>

                <script>
                    //Εαν έχουμε κεντρική θέρμανση δεν δείχνουμε στον πινακα το πάγιο και τις μονάδες θέρμανσης
                    <%if(typeOfHeat==='Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά'){%>
                        document.getElementById('thHeatCountId').style.display='none';
                        //document.getElementById('thFixedHeatId').style.display='none';
                        document.getElementById('thXilId').colSpan='2';
                        //document.getElementById('thExpensesId').colSpan='5';
                    <%}%>
                </script>

         <% if(typeof flatsShownNav !== 'undefined'){ %>
            <% var totalExpKoin=0 %><!-- Συνολικά έξοδα κοινοχρήστων χωρίς εξοδα ασανσερ και θέρμανσης -->
            <% var totalExpLift=expenses['Ασανσέρ Συντήρηση']+expenses['Ασανσέρ Ανταλ. Επισκευή']%> <!-- Συνολικά έξοδα ασανσερ συντήρηση συν επισκευη ανταλλακτικά -->
            <% var totalExpHeat=expenses['Πετρέλαιο/Αέριο']+expenses['Συντήρηση Καυστήρα/Λέβητα']+expenses['Επισκευή Καυστήρα/Λέβητα']%>
            <% var count=0%>
            <% var sumΩixXil=0%>
            <% var sumeixfi=0%>
            <% var sumeixΩi=0%>


            <!-- Υπολογισμός του sumOf(Ωi x Χιλιοστά θέρμανσης) -->
            <!-- Εαν έχουμε έξοδα θέρμανσης και η θέρμανση δεν είναι κεντρική υπολόγισε sumΩixXil -->
            <%if(expenses['Πετρέλαιο/Αέριο'] && typeOfHeat!='Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά'){%>
                <% flatsShownNav.forEach(function( flatsShownNav){ %>
                    <% sumΩixXil+= flatHeatCount[count].flatheatcount*flatsShownNav.koinratio %>
                    <% sumeixfi+=flatsShownNav.ei*flatsShownNav.fi%>
                    <% sumeixΩi+= flatsShownNav.ei*flatHeatCount[count].flatheatcount %>
                    <%count+=1%>
                <%})%>
            <%}else {%><!-- Αλλιώς εαν δεν έχουμε έξοδα θέρμανσης το sumΩixXil ίσον με ένα -->
                <% sumΩixXil=1%>
                <% sumeixfi=1%>
                <% sumeixΩi=1%>
            <%}%>

            <!--Ελέγχουμε αν έχουμε έξοδα θέρμανσης με μηδενικές μονάδες έχει να κάνει με το πάγιο του αερίου το καλοκαίρι -->
            <% var flatCheck%>
            <% var flag=0%>
            <% if(sumΩixXil===0){%>
                <% flag=1%>
            <%}%>

            <% count=0%> <!-- Μηδενισμός του count για συνέχεια στον επόμενο υπολογισμό -->
            <!-- Υπολογισμός εξόδων για κάθε διαμέρισμα -->
                <%  flatsShownNav.forEach(function( flatsShownNav){ %>
                <!--Τσεκάρουμε για την περίπτωση που έχουμε εξοδο θέρμανσης αλλά είναι το καλοκαίρι πάγιο αερίου και δεν έχουμε μονάδες -->
                    <%if(typeOfHeat!=='Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά'){%>
                        <% flatCheck=flatHeatCount[count].flatheatcount%>
                        <% if(flag){%>
                            <%flatCheck=1%>
                            <%sumΩixXil=1000%>
                        <%}%>
                    <%}%>
                    <tr>
                        <td><%=  flatsShownNav.flatNum %></td><!--Αριθμός διαμερίσματος -->
                        <td><%=  flatsShownNav.lastname %></td><!-- Επώνυμο κατόχου διαμερίσματος -->
                        <td class="text-center"><%= flatsShownNav.koinratio %></td><!-- Χιλιοστά διαμερίσματος για κοινόχρηστα -->
                        <td class="text-center"><%= flatsShownNav.liftratio %></td><!-- Χιλιοστά διαμερίσματος για ασανσερ -->
                        <!-- Ελέγχουμε αν έχουμε αυτονομία οπότε  εμφανίζουμε την στήλη με τις μονάδες αλλιώς όχι -->
                            <% if(typeOfHeat!=='Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά'){%>
                                <td class="text-center"><%= flatHeatCount[count].flatheatcount%></td><!-- Μονάδες διαμερίσματος -->
                            <%}%>
                        <td class="text-center"><%= ((flatsShownNav.koinratio*(totalExpenses-totalExpLift-totalExpHeat))/1000).toFixed(2) %></td><!-- Εξοδα Κοινοχρήστων-->
                        <td class="text-center"><%= ((flatsShownNav.liftratio*totalExpLift)/1000).toFixed(2) %></td><!-- Εξοδα Ασανσερ-->

                            <%if(typeOfHeat==='Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά') {%>
                                <td class="text-center"><%= ((flatsShownNav.koinratio*expenses['Πετρέλαιο/Αέριο'])/1000).toFixed(2) %></td><!-- Εξοδα Θερμανσης -->
                                <td class="text-center"><%= (((flatsShownNav.koinratio*expenses['Συντήρηση Καυστήρα/Λέβητα'])/1000)+
                                    ((flatsShownNav.koinratio*expenses['Επισκευή Καυστήρα/Λέβητα'])/1000)).toFixed(2) %></td><!-- Εξοδα Δαπανων -->
                                <td class="text-center"><%=(((flatsShownNav.koinratio*(totalExpenses-totalExpLift-totalExpHeat))/1000)+
                                    ((flatsShownNav.liftratio*totalExpLift)/1000)+
                                    ((flatsShownNav.koinratio*totalExpHeat)/1000)).toFixed(2)%></td><!-- Εξοδα Διαμερίσματος σύνολο-->

                            <%}else if(typeOfHeat==='Αυτόνομη Θέρμανση με ωρομέτρηση και χιλιοστά'){%>
                                    <td class="text-center"><%= ((flatsShownNav.koinratio*flatCheck*(100-blockHeatFixed)*expenses['Πετρέλαιο/Αέριο']/100)/sumΩixXil).toFixed(2)%></td><!-- Εξοδα Θερμανσης + παγιο αεριου καλοκαιριού-->
                                <td class="text-center"><%= (((flatsShownNav.koinratio*blockHeatFixed*expenses['Πετρέλαιο/Αέριο']/100)/1000)+
                                    (flatsShownNav.koinratio*expenses['Συντήρηση Καυστήρα/Λέβητα']/1000)+
                                    (flatsShownNav.koinratio*expenses['Επισκευή Καυστήρα/Λέβητα']/1000)).toFixed(2) %></td>
                                <td class="text-center"><%=(((flatsShownNav.koinratio*(totalExpenses-totalExpLift-totalExpHeat))/1000)+
                                    ((flatsShownNav.liftratio*totalExpLift)/1000)+
                                    ((flatsShownNav.koinratio*flatCheck*(100-blockHeatFixed)*expenses['Πετρέλαιο/Αέριο']/100)/sumΩixXil)+
                                    ((flatsShownNav.koinratio*blockHeatFixed*expenses['Πετρέλαιο/Αέριο']/100)/1000)+
                                    (flatsShownNav.koinratio*expenses['Συντήρηση Καυστήρα/Λέβητα']/1000)+
                                    (flatsShownNav.koinratio*expenses['Επισκευή Καυστήρα/Λέβητα']/1000)).toFixed(2)%></td>

                            <%}else if(typeOfHeat==='Αυτόνομη Θέρμανση με ωρομέτρηση και συντελεστές ei fi'){%>
                                <td class="text-center"><%= (((flatsShownNav.ei*flatHeatCount[count].flatheatcount/sumeixΩi)*(1-sumeixfi))*expenses['Πετρέλαιο/Αέριο']).toFixed(2) %></td>
                                <td class="text-center"><%= ((flatsShownNav.ei*flatsShownNav.fi/sumeixfi)*sumeixfi*expenses['Πετρέλαιο/Αέριο']+
                                    flatsShownNav.ei*expenses['Συντήρηση Καυστήρα/Λέβητα']+
                                    flatsShownNav.ei*expenses['Επισκευή Καυστήρα/Λέβητα']).toFixed(2) %></td>
                                <td class="text-center"><%=(((flatsShownNav.koinratio*(totalExpenses-totalExpLift-totalExpHeat))/1000)+
                                    ((flatsShownNav.liftratio*totalExpLift)/1000)+
                                    ((flatsShownNav.ei*flatHeatCount[count].flatheatcount/sumeixΩi)*(1-sumeixfi))*expenses['Πετρέλαιο/Αέριο']+
                                    (flatsShownNav.ei*flatsShownNav.fi/sumeixfi)*sumeixfi*expenses['Πετρέλαιο/Αέριο']+
                                    flatsShownNav.ei*expenses['Συντήρηση Καυστήρα/Λέβητα']+
                                    flatsShownNav.ei*expenses['Επισκευή Καυστήρα/Λέβητα']).toFixed(2)%></td>
                            <%}%>
                    </tr>
                        <%count+=1%>
                <%})%>

            <!-- Υπολογισμός σύνολων τελευταίας γραμμής για έλεγχο -->
            <% var totalKin= 0%> <!-- Σύνολο χιλιοστά κοινοχρήστων-->
            <% var totalLift= 0%> <!-- Σύνολο χιλιοστά ασανερ -->
            <% var totalXil= 0%>
            <% var totalHeat=0%> <!-- Σύνολο εξοδα θέρμανσης -->
            <% var totalHeatFixed=0%> <!-- Σύνολο εξοδα πάγιο θέρμανσης -->
            <% var checkTotal=0%> <!-- Σύνολο εξόδων ολικά -->
            <% count=0%>

            <!-- Υπολογισμός συνόλων όλων των στηλών για να μπουν στην τελευταία γραμμή -->
            <%  flatsShownNav.forEach(function( flatsShownNav){ %>
                <%if(typeOfHeat!=='Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά'){%>
                    <% flatCheck=flatHeatCount[count].flatheatcount%>
                    <% if(flag){%>
                        <%flatCheck=1%>
                        <%sumΩixXil=1000%>
                    <%}%>
                <%}%>

                <% totalKin+=flatsShownNav.koinratio%><!--Σύνολο χιλιοστών κοινοχρήστων -->
                <% totalLift+=flatsShownNav.liftratio%><!--Σύνολο χιλιοστών ασανσερ -->
                <% totalXil+=flatsShownNav.flatxil%>
                <% totalExpKoin+=((flatsShownNav.koinratio*(totalExpenses-totalExpLift-totalExpHeat))/1000)%><!--Σύνολο εξόδων κοινοχρήστων -->

                    <%if(typeOfHeat==='Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά') {%>
                        <% totalHeat+=(flatsShownNav.koinratio*expenses['Πετρέλαιο/Αέριο'])/1000%>
                        <% totalHeatFixed+= (flatsShownNav.koinratio*expenses['Συντήρηση Καυστήρα/Λέβητα']/1000)+
                                            (flatsShownNav.koinratio*expenses['Επισκευή Καυστήρα/Λέβητα']/1000) %><!-- Πάγιο θερμανσης-->
                        <% checkTotal+=((flatsShownNav.koinratio*(totalExpenses-totalExpLift-totalExpHeat))/1000)+
                        ((flatsShownNav.liftratio*totalExpLift)/1000)+
                        ((flatsShownNav.koinratio*totalExpHeat)/1000)%>

                    <%}else if(typeOfHeat==='Αυτόνομη Θέρμανση με ωρομέτρηση και χιλιοστά'){%>
                        <% totalHeat+=(flatsShownNav.koinratio*flatCheck*(100-blockHeatFixed)*expenses['Πετρέλαιο/Αέριο']/100)/sumΩixXil%><!-- Έξοδα θερμανσης αθροιστικά-->
                        <% totalHeatFixed+=((flatsShownNav.koinratio*blockHeatFixed*expenses['Πετρέλαιο/Αέριο']/100)/1000)+
                                            (flatsShownNav.koinratio*expenses['Συντήρηση Καυστήρα/Λέβητα']/1000)+
                                            (flatsShownNav.koinratio*expenses['Επισκευή Καυστήρα/Λέβητα']/1000) %><!-- Πάγιο θερμανσης αθροιστικά-->
                        <% checkTotal+=((flatsShownNav.koinratio*(totalExpenses-totalExpLift-totalExpHeat))/1000)+
                                       ((flatsShownNav.liftratio*totalExpLift)/1000)+
                                       ((flatsShownNav.koinratio*flatCheck*(100-blockHeatFixed)*expenses['Πετρέλαιο/Αέριο']/100)/sumΩixXil)+
                                       (flatsShownNav.koinratio*blockHeatFixed*expenses['Πετρέλαιο/Αέριο']/100)/1000+
                                       (flatsShownNav.koinratio*expenses['Συντήρηση Καυστήρα/Λέβητα']/1000)+
                                       (flatsShownNav.koinratio*expenses['Επισκευή Καυστήρα/Λέβητα']/1000)%><!-- Σύνολο εξόδων για την πολυκατοικια αθροιστικά-->

                    <%} else if(typeOfHeat==='Αυτόνομη Θέρμανση με ωρομέτρηση και συντελεστές ei fi'){%>
                        <% totalHeat+=((flatsShownNav.ei*flatHeatCount[count].flatheatcount/sumeixΩi)*(1-sumeixfi))*expenses['Πετρέλαιο/Αέριο']%>
                        <% totalHeatFixed+=(flatsShownNav.ei*flatsShownNav.fi/sumeixfi)*sumeixfi*expenses['Πετρέλαιο/Αέριο']+
                                            flatsShownNav.ei*expenses['Συντήρηση Καυστήρα/Λέβητα']+
                                            flatsShownNav.ei*expenses['Επισκευή Καυστήρα/Λέβητα']%>
                        <% checkTotal+=((flatsShownNav.koinratio*(totalExpenses-totalExpLift-totalExpHeat))/1000)+
                                        ((flatsShownNav.liftratio*totalExpLift)/1000)+
                                        (flatsShownNav.ei*flatsShownNav.fi+(flatsShownNav.ei*flatHeatCount[count].flatheatcount/sumeixΩi)*(1-sumeixfi))*expenses['Πετρέλαιο/Αέριο']+
                                        flatsShownNav.ei*expenses['Συντήρηση Καυστήρα/Λέβητα']+
                                        flatsShownNav.ei*expenses['Επισκευή Καυστήρα/Λέβητα']%>
                    <%}%>
                        <%count+=1%>
            <%})%>

            <!-- Υπολογισμός σύνολο μονάδων θέρμανσης για την τελευταία σειρά-->
            <%var totalCounts=0%> <!-- Σύνολο μονάδες Θέρμανσης-->
                <% for( var i=0; i<flatHeatCount.length; i++){%>
                    <% totalCounts+=flatHeatCount[i].flatheatcount%>
                <%}%>

            <!-- Εμφάνιση συνόλων τελευταίας γραμμής -->
            <tr bgcolor="LightGray">
                <th class="text-center" colspan="2">Σύνολα</th>
                <th class="text-center"><%= totalKin%></th> <!-- Σύνολο χιλιοστά κοινοχρήστων-->
                <th class="text-center"><%= totalLift%></th> <!-- Σύνολο χιλιοστά ασανερ -->
                    <%if(typeOfHeat!='Κεντρική θέρμανση χωρίς αυτονομία με χιλιοστά'){%>
                        <th class="text-center"><%= totalCounts%></th> <!-- Σύνολο μονάδες Θέρμανσης εμφάνιση μόνο με το κατάλληλο τύπο θερμανσης-->
                    <%}%>
                        <th class="text-center"><%= totalExpKoin.toFixed(2)%></th> <!-- Σύνολο εξοδα κοινοχρήστων -->
                        <th class="text-center"><%= totalExpLift.toFixed(2)%></th> <!-- Σύνολο εξοδα ασανσερ -->
                        <th class="text-center"><%= totalHeat.toFixed(2)%></th> <!-- Σύνολο εξοδα θέρμανσης -->
                        <th class="text-center"><%= totalHeatFixed.toFixed(2)%></th> <!-- Σύνολο εξοδα πάγιο θέρμανσης -->
                        <th class="text-center"><%= checkTotal.toFixed(2)%></th> <!-- Σύνολο εξόδων -->
            </tr>
            <%}%><!-- End of if(typeof flatsShownNav !== 'undefined') -->
         <%}%><!-- end of if totalExpenses -->

         <%if(results!==''){%>
            <p class="list-group-item list-group-item-danger"><%=results%></p>
         <%}%>
                </tbody>
            </table>
         </div><!--End of printable Area -->

            <h3 align="right">
                <a onclick="printDiv('printableArea')" href="#print">
                    <span class="glyphicon glyphicon-print"></span>
                </a>
            </h3>

        </div>
    </div>
</div>

<% include templates/footer.ejs %>
</body>

</html>
